@using Utils.Enums;
@using Utils.Extensions;
@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<div class="middle-box inscricoes animated fadeInDown " style="display: flex">


    <div style="margin:auto;width:95%">


        <div class="row justify-content-center p-sm">
            <div class="col col-12">
                <div class="p-h-xs m-b-lg" id="form-inscricao">
                    <input type="hidden" name="EquipanteId" id="EquipanteId" value="0" />
                    <div class="form-group">
                        <label for="participante-email" class="">Digite o e-mail do Voluntário</label>
                        <div style="position:relative">
                            <input type="email" class="form-control" name="email" id="participante-email" data-field="E-mail" />
                        </div>
                    </div>
                    <div class="pnl-cadastro">                   
                        <div class="text-center">

                            <button type="button" class="btn btn-juventude pnl-cadastro" onclick="MarcarPresenca()"><i class="fas fa-calendar-check"></i> Marcar Presença</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
        background: @ViewBag.Configuracao.CorBotao !important;
        filter: brightness(0.8)
    }

    .dtp div.dtp-date, .dtp div.dtp-time {
         background: @ViewBag.Configuracao.CorBotao !important;
    }

     .dtp .btn-flat {
         background: @ViewBag.Configuracao.CorBotao !important;
         margin-left: 7px
    }

    .dtp .p10 > a, .dtp-actual-year {
        color: white !important;
    }

    .dtp table.dtp-picker-days tr > td > a.selected {
        background: @ViewBag.Configuracao.CorBotao !important;
    }


    .btn-confirmar {
        background-color: #23c6c8;
        border-color: #23c6c8;
        color: #FFFFFF;
    }

        .btn-confirmar:hover,
        .btn-confirmar:focus,
        .btn-confirmar:active,
        .btn-confirmar.active,
        .open .dropdown-toggle.btn-confirmar,
        .btn-confirmar:active:focus,
        .btn-confirmar:active:hover,
        .btn-confirmar.active:hover,
        .btn-confirmar.active:focus {
            background-color: #21b9bb !important;
            border-color: #21b9bb !important;
            color: #FFFFFF;
        }

        .btn-confirmar:active,
        .btn-confirmar.active,
        .open .dropdown-toggle.btn-confirmar {
            background-image: none;
        }

            .btn-confirmar.disabled,
            .btn-confirmar.disabled:hover,
            .btn-confirmar.disabled:focus,
            .btn-confirmar.disabled:active,
            .btn-confirmar.disabled.active,
            .btn-confirmar[disabled],
            .btn-confirmar[disabled]:hover,
            .btn-confirmar[disabled]:focus,
            .btn-confirmar[disabled]:active,
            .btn-confirmar.active[disabled],
            fieldset[disabled] .btn-confirmar,
            fieldset[disabled] .btn-confirmar:hover,
            fieldset[disabled] .btn-confirmar:focus,
            fieldset[disabled] .btn-confirmar:active,
            fieldset[disabled] .btn-confirmar.active {
                background-color: #26d7d9;
                border-color: #26d7d9;
            }


    .btn-cancelar {
        background-color: #ed5565;
        border-color: #ed5565;
        color: #FFFFFF;
    }

        .btn-cancelar:hover,
        .btn-cancelar:focus,
        .btn-cancelar:active,
        .btn-cancelar.active,
        .open .dropdown-toggle.btn-cancelar,
        .btn-cancelar:active:focus,
        .btn-cancelar:active:hover,
        .btn-cancelar.active:hover,
        .btn-cancelar.active:focus {
            background-color: #ec4758 !important;
            border-color: #ec4758 !important;
            color: #FFFFFF;
        }

        .btn-cancelar:active,
        .btn-cancelar.active,
        .open .dropdown-toggle.btn-cancelar {
            background-image: none;
        }

            .btn-cancelar.disabled,
            .btn-cancelar.disabled:hover,
            .btn-cancelar.disabled:focus,
            .btn-cancelar.disabled:active,
            .btn-cancelar.disabled.active,
            .btn-cancelar[disabled],
            .btn-cancelar[disabled]:hover,
            .btn-cancelar[disabled]:focus,
            .btn-cancelar[disabled]:active,
            .btn-cancelar.active[disabled],
            fieldset[disabled] .btn-cancelar,
            fieldset[disabled] .btn-cancelar:hover,
            fieldset[disabled] .btn-cancelar:focus,
            fieldset[disabled] .btn-cancelar:active,
            fieldset[disabled] .btn-cancelar.active {
                background-color: #ef6776;
                border-color: #ef6776;
            }


</style>

@section scripts {
    <script>
    document.styleSheets[0].addRule('#loader-1:before,#loader-1:after ', `border-top-color: @ViewBag.Configuracao.CorBotao !important;`);
        $(window).on('load', function () {
            $(`input`).val("");

            $('#preloader').fadeOut();         

            var nome = localStorage.getItem('nome_cadastro')
            var email = localStorage.getItem('email_cadastro')

            if (nome && email) {

                var div = document.createElement("div");
                div.innerHTML = `

                                <h4 style="color:white" class="swal-text">Você é <strong>${nome}</strong>?</h4>
                <p style="color:white" class="swal-text">continuar inscrição com <strong>${email}</strong>?</p>
                `

                CustomSwal({
                    icon: `logo`,
                    content: div,
                    className: "button-center",
                    buttons: {
                        cancel: "Não",
                        confirm: "Sim"
                    }
                }).then(result => {
                    if (result) {
                        $('#participante-email').val(email)
                        $.blockUI({
                            css: {
                                backgroundColor: 'transparent',
                                border: 'none'
                            },
                            message: `<div class="spinner">
  <div style="background-color:${corBotao}" class="rect1"></div>
  <div style="background-color:${corBotao}" class="rect2"></div>
  <div style="background-color:${corBotao}" class="rect3"></div>
  <div style="background-color:${corBotao}" class="rect4"></div>
  <div style="background-color:${corBotao}" class="rect5"></div>
</div>`,
                            baseZ: 3500,
                            overlayCSS: {
                                opacity: 0.7,
                                cursor: 'wait'
                            }
                        });
                        MarcarPresenca()
                    }
                })
            }
        })


        var $input = $('#participante-email');

        $input.focus()

        function MarcarPresenca() {
            $.ajax({
                url: "/Equipe/TogglePresencaByEmail/",
                datatype: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(
                    {
                        email: $('#participante-email').val(),
                        ReuniaoId: @ViewBag.Reuniao.Id
                    }),
                success: function (data) {
          
                        CustomSwal({
                            title: "Informativo!",
                            icon: "info",                        
                            text: data.Result,
                            className: "button-center",
                        }).then(() => {
                            if (data.Result.includes('cadastro')) {

                                window.location.href = `/Inscricoes/Inscricoes/${@ViewBag.EventoId}?Tipo=Inscrições%20Equipe&email=${$('#participante-email').val()}`
                            }
                        })
                    
                }
            });
        }         

       $("#participante-email").on('keypress', function (e) {
           if (e.which == 13) {
               MarcarPresenca()
           }
       });


    </script>

}