@using System.Collections.Generic;
@using System.Linq;
@using Utils.Enums;
@using Utils.Extensions;
@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<div class="middle-box inscricoes animated fadeInDown " style="display: flex">


    <div style="margin:auto;width:95%">


        <div class="row justify-content-center p-sm">
            <div class="col col-12">
                <div class="p-h-xs m-b-lg" id="form-inscricao">
                    <input type="hidden" name="EquipanteId" id="EquipanteId" value="0" />
                    <div class="form-group">
                        @if (ViewBag.Tipo != null && ViewBag.Tipo.Contains("Equipe"))
                        {
                            <label for="participante-email-marido" class="">Telefone do <strong>marido</strong></label>
                            <div style="position:relative">
                                <i style="position: absolute; top: 10px; font-size: 16px; right: 10px; cursor: pointer;" onclick="VerificaCadastro('marido')" class="fas fa-search"></i>
                                <input type="text" class="form-control fone" id="participante-fone-marido" data-field="Telefone do <strong>marido</strong>" />
                            </div>

                            <label for="participante-email-marido" class="">Telefone da <strong>esposa</strong></label>
                            <div style="position:relative">
                                <i style="position: absolute; top: 10px; font-size: 16px; right: 10px; cursor: pointer;" onclick="VerificaCadastro('esposa')" class="fas fa-search"></i>
                                <input type="text" class="form-control fone" id="participante-fone-esposa" data-field="Telefone da <strong>esposa</strong>" />
                            </div>

                        }
                        else
                        {
                            <label for="participante-email-marido" class="">Digite o e-mail do <strong>marido</strong></label>
                            <div style="position:relative">
                                <i style="position: absolute; top: 10px; font-size: 16px; right: 10px; cursor: pointer;" onclick="VerificaCadastro('marido')" class="fas fa-search"></i>
                                <input type="email" class="form-control" name="email" id="participante-email-marido" data-field="E-mail" />
                            </div>

                            <label for="participante-email-marido" class="">Digite o e-mail da <strong>esposa</strong></label>
                            <div style="position:relative">
                                <i style="position: absolute; top: 10px; font-size: 16px; right: 10px; cursor: pointer;" onclick="VerificaCadastro('esposa')" class="fas fa-search"></i>
                                <input type="email" class="form-control" name="email" id="participante-email-esposa" data-field="E-mail" />
                            </div>

                        }
                    </div>
                    <div class="pnl-cadastro">
                        @if (ViewBag.Campos.Contains(CamposEnum.Nome.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome" class="">Nome e sobrenome do <strong>marido</strong></label>
                                <input type="text" class="form-control required" id="participante-nome-marido" name="name" data-field="Nome do <strong>marido</strong>" value="@ViewBag.Nome" />
                            </div>
                            <div class="form-group">
                                <label for="participante-nome" class="">Nome e sobrenome da <strong>esposa</strong></label>
                                <input type="text" class="form-control required" id="participante-nome-esposa" name="name" data-field="Nome da <strong>esposa</strong>" value="@ViewBag.Nome" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Apelido.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-apelido" class="">Como o <strong>marido</strong> gostaria de ser chamado no @ViewBag.Configuracao.Titulo?</label>
                                <input type="text" class="form-control required" id="participante-apelido-marido" name"nickname" data-field="Apelido do <strong>marido</strong>" />
                            </div>
                            <div class="form-group">
                                <label for="participante-apelido" class="">Como a <strong>esposa</strong> gostaria de ser chamado no @ViewBag.Configuracao.Titulo?</label>
                                <input type="text" class="form-control required" id="participante-apelido-esposa" name"nickname" data-field="Apelido da <strong>esposa</strong>" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.DataNascimento.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-data-nascimento" class="">Data de nascimento do <strong>marido</strong></label>
                                <input type="text" class="form-control full-date required" id="participante-data-nascimento-marido" data-idade="17" data-field="Data de nascimento do <strong>marido</strong>" />
                            </div>
                            <div class="form-group">
                                <label for="participante-data-nascimento" class="">Data de nascimento da <strong>esposa</strong></label>
                                <input type="text" class="form-control full-date required" id="participante-data-nascimento-esposa" data-idade="17" data-field="Data de nascimento da <strong>esposa</strong>" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Fone.GetDescription()))
                        {
                            if (ViewBag.Tipo.Contains("Equipe"))
                            {
                                <div class="form-group">
                                    <label for="participante-email" class="">Digite o e-mail do <strong>marido</strong></label>
                                    <input type="email" class="form-control" name="email" id="participante-email-marido" data-field="E-mail do <strong>marido</strong>" />
                                </div>
                                <div class="form-group">
                                    <label for="participante-email" class="">Digite o e-mail da <strong>esposa</strong></label>
                                    <input type="email" class="form-control" name="email" id="participante-email-esposa" data-field="E-mail da <strong>esposa</strong>" />
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label for="participante-fone" class="">Telefone do <strong>marido</strong></label>
                                    <input type="text" class="form-control fone" id="participante-fone-marido" data-field="Telefone do <strong>marido</strong>" />
                                </div>
                                <div class="form-group">
                                    <label for="participante-fone" class="">Telefone da <strong>esposa</strong></label>
                                    <input type="text" class="form-control fone" id="participante-fone-esposa" data-field="Telefone da <strong>esposa</strong>" />
                                </div>

                            }

                        }

                        @if (ViewBag.Campos.Contains(CamposEnum.Camisa.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-fone" class="">Tamanho da camisa do <strong>marido</strong></label>
                                <select class="form-control" id="participante-camisa-marido">
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                    <option value="14">14</option>
                                    <option value="PP">PP</option>
                                    <option value="P">P</option>
                                    <option value="M">M</option>
                                    <option value="G">G</option>
                                    <option value="GG">GG</option>
                                    <option value="XGG">XGG</option>
                                </select>
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Camisa.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-fone" class="">Tamanho da camisa da <strong>esposa</strong></label>
                                <select class="form-control" id="participante-camisa-esposa">
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                    <option value="14">14</option>
                                    <option value="PP">PP</option>
                                    <option value="P">P</option>
                                    <option value="M">M</option>
                                    <option value="G">G</option>
                                    <option value="GG">GG</option>
                                    <option value="XGG">XGG</option>
                                </select>
                            </div>
                        }

                        @if (ViewBag.Campos.Contains(CamposEnum.Endereco.GetDescription()))
                        {
                            <div class="row justify-content-center">
                                <div class="col col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-cep" class="">CEP</label>
                                        <input type="text" class="form-control required cep" id="participante-cep" data-field="Endereço do casal" value="@ViewBag.CEP" onkeyup="verificaCep(this)" />
                                        <input type="hidden" id="participante-latitude" />
                                        <input type="hidden" id="participante-longitude" />
                                    </div>
                                </div>
                                <div class="col col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-logradouro" class="">Logradouro</label>
                                        <input type="text" class="form-control" disabled id="participante-logradouro" data-field="Logradouro" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-bairro" class="">Bairro</label>
                                        <input type="text" class="form-control" disabled id="participante-bairro" data-field="Bairro" />
                                    </div>
                                </div>
                                <div class="col col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-cidade" class="">Cidade</label>
                                        <input type="text" class="form-control" disabled id="participante-cidade" data-field="Cidade" />
                                    </div>
                                </div>
                                <div class="col col-md-2 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-estado" class="">Estado</label>
                                        <input type="text" class="form-control" disabled id="participante-estado" data-field="Estado" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-numero" class="">Número</label>
                                        <input type="text" class="form-control" id="participante-numero" value="@ViewBag.Numero" data-field="Número" />
                                    </div>
                                </div>
                                <div class="col col-md-8 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-complemento" class="">Complemento</label>
                                        <input type="text" class="form-control" id="participante-complemento" value="@ViewBag.Complemento" data-field="Complemento" />
                                    </div>
                                </div>

                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-referencia" class="">Ponto de referência</label>
                                        <input type="text" class="form-control" id="participante-referencia" value="@ViewBag.Referencia" data-field="Ponto de referência" />
                                    </div>
                                    <div class="form-group">
                                        <div id="map" style="height:300px;display:none">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Contato.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-contato" class="">Pessoa de contato</label>
                                <input type="text" class="form-control required" id="participante-nome-contato" data-field="Pessoa de contato" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-contato" class="">Telefone do contato</label>
                                <input type="text" class="form-control fone" id="participante-fone-contato" data-field="Telefone do contato" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Convite.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-convite" class="">Quem fez o convite ao casal?</label>
                                <input type="text" class="form-control required" id="participante-nome-convite" value="@ViewBag.NomeConvite" data-field="Quem fez o convite ao casal?" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-convite" class="">Telefone de quem fez o convite</label>
                                <input type="text" class="form-control fone" id="participante-fone-convite" value="@ViewBag.FoneConvite" data-field="Telefone de quem lhe fez o convite" />
                            </div>
                        }

                        @if (ViewBag.Campos.Contains(CamposEnum.Congregacao.GetDescription()))
                        {
                            <div class="form-group">

                                <label for="participante-congregacao" class="">Participa de qual congregação?</label>
                                <select class="form-control" id="participante-congregacao">
                                    @foreach (var igreja in ViewBag.Igrejas)
                                    {

                                        <option value="@igreja.Igreja">@igreja.Igreja</option>
                                    }
                                    <option value="Nenhuma">Nenhuma</option>
                                    <option value="Outra">Outra</option>
                                </select>
                            </div>
                            <div class="form-group congregacao d-none">
                                <label for="participante-congregacaodescricao" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-congregacaodescricao" data-field="Congregação" />
                            </div>
                        }

                        @if (ViewBag.Campos.Contains(CamposEnum.Casamento.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-iscasado" class=" block">São casados?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="is-casado" data-valor="true" name="participante-iscasado"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-casado" checked="" data-valor="false" name="participante-iscasado"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group casado d-none">
                                <label for="participante-data-casamento" class="">Data de casamento</label>
                                <input type="text" class="form-control full-date" id="participante-data-casamento" data-field="Data de casamento" />
                            </div>
                        }


                        @if (ViewBag.Campos.Contains(CamposEnum.Restricao.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasrestricaoalimentar-marido" class=" block">O <strong>marido</strong> Tem alguma restrição alimentar?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-restricaoalimentar-marido" data-valor="true" name="participante-hasrestricaoalimentar-marido"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-restricaoalimentar-marido" checked="" data-valor="false" name="participante-hasrestricaoalimentar-marido"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group restricaoalimentar-marido d-none">
                                <label for="participante-restricaoalimentar-marido" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-restricaoalimentar-marido" data-field="O <strong>marido</strong> tem alguma restrição alimentar?" />
                            </div>

                            <div class="form-group">
                                <label for="participante-hasrestricaoalimentar-esposa" class=" block">A <strong>esposa</strong> Tem alguma restrição alimentar?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-restricaoalimentar-esposa" data-valor="true" name="participante-hasrestricaoalimentar-esposa"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-restricaoalimentar-esposa" checked="" data-valor="false" name="participante-hasrestricaoalimentar-esposa"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group restricaoalimentar-esposa d-none">
                                <label for="participante-restricaoalimentar-esposa" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-restricaoalimentar-esposa" data-field="A <strong>esposa</strong> tem alguma restrição alimentar?" />
                            </div>
                        }

                        @if (ViewBag.Campos.Contains(CamposEnum.Equipe.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-fone" class="">Para qual equipe vocês foram relacionados?</label>
                                <select class="form-control" id="participante-equipe">
                                    <option value="0">Nenhuma</option>
                                    @foreach (var equipe in ViewBag.Equipes)
                                    {

                                        <option value="@equipe.Id">@equipe.Nome</option>
                                    }
                                </select>
                            </div>
                        }

                        <div class="text-right">

                            <button type="button" class="btn btn-juventude pnl-cadastro" onclick="PostInscricao()">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
        background: @ViewBag.Configuracao.CorBotao !important;
        filter: brightness(0.8)
    }

    .dtp div.dtp-date, .dtp div.dtp-time {
         background: @ViewBag.Configuracao.CorBotao !important;
    }

    .dtp .btn-flat {
         background: @ViewBag.Configuracao.CorBotao !important;
         margin-left: 7px
    }


    .dtp .p10 > a, .dtp-actual-year {
        color: white !important;
    }

    .dtp table.dtp-picker-days tr > td > a.selected {
        background: @ViewBag.Configuracao.CorBotao !important;
    }


    .btn-confirmar {
        background-color: #23c6c8;
        border-color: #23c6c8;
        color: #FFFFFF;
    }

        .btn-confirmar:hover,
        .btn-confirmar:focus,
        .btn-confirmar:active,
        .btn-confirmar.active,
        .open .dropdown-toggle.btn-confirmar,
        .btn-confirmar:active:focus,
        .btn-confirmar:active:hover,
        .btn-confirmar.active:hover,
        .btn-confirmar.active:focus {
            background-color: #21b9bb !important;
            border-color: #21b9bb !important;
            color: #FFFFFF;
        }

        .btn-confirmar:active,
        .btn-confirmar.active,
        .open .dropdown-toggle.btn-confirmar {
            background-image: none;
        }

            .btn-confirmar.disabled,
            .btn-confirmar.disabled:hover,
            .btn-confirmar.disabled:focus,
            .btn-confirmar.disabled:active,
            .btn-confirmar.disabled.active,
            .btn-confirmar[disabled],
            .btn-confirmar[disabled]:hover,
            .btn-confirmar[disabled]:focus,
            .btn-confirmar[disabled]:active,
            .btn-confirmar.active[disabled],
            fieldset[disabled] .btn-confirmar,
            fieldset[disabled] .btn-confirmar:hover,
            fieldset[disabled] .btn-confirmar:focus,
            fieldset[disabled] .btn-confirmar:active,
            fieldset[disabled] .btn-confirmar.active {
                background-color: #26d7d9;
                border-color: #26d7d9;
            }


    .btn-cancelar {
        background-color: #ed5565;
        border-color: #ed5565;
        color: #FFFFFF;
    }

        .btn-cancelar:hover,
        .btn-cancelar:focus,
        .btn-cancelar:active,
        .btn-cancelar.active,
        .open .dropdown-toggle.btn-cancelar,
        .btn-cancelar:active:focus,
        .btn-cancelar:active:hover,
        .btn-cancelar.active:hover,
        .btn-cancelar.active:focus {
            background-color: #ec4758 !important;
            border-color: #ec4758 !important;
            color: #FFFFFF;
        }

        .btn-cancelar:active,
        .btn-cancelar.active,
        .open .dropdown-toggle.btn-cancelar {
            background-image: none;
        }

            .btn-cancelar.disabled,
            .btn-cancelar.disabled:hover,
            .btn-cancelar.disabled:focus,
            .btn-cancelar.disabled:active,
            .btn-cancelar.disabled.active,
            .btn-cancelar[disabled],
            .btn-cancelar[disabled]:hover,
            .btn-cancelar[disabled]:focus,
            .btn-cancelar[disabled]:active,
            .btn-cancelar.active[disabled],
            fieldset[disabled] .btn-cancelar,
            fieldset[disabled] .btn-cancelar:hover,
            fieldset[disabled] .btn-cancelar:focus,
            fieldset[disabled] .btn-cancelar:active,
            fieldset[disabled] .btn-cancelar.active {
                background-color: #ef6776;
                border-color: #ef6776;
            }


</style>


@section scripts {
    <script>
    document.styleSheets[0].addRule('#loader-1:before,#loader-1:after ', `border-top-color: @ViewBag.Configuracao.CorBotao !important;`);
        $(window).on('load', function () {
            $(`input`).val("");
            /* Page Loader active
           ========================================================*/
            $('#preloader').fadeOut();
        })

        var typingTimer;                //timer identifier
        var doneTypingInterval = 700;  //time in ms, 5 seconds for example
        var $inputMarido = '@ViewBag.Tipo'.includes('Equipe') ? $('#participante-fone-marido') : $('#participante-email-marido');
        var $inputEsposa = '@ViewBag.Tipo'.includes('Equipe') ? $('#participante-fone-esposa') : $('#participante-email-esposa');

        $inputMarido.focus()
        //on keyup, start the countdown
        $inputMarido.on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(() => { VerificaCadastro('marido') }, doneTypingInterval);
        });

        $inputEsposa.on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(() => { VerificaCadastro('esposa') }, doneTypingInterval);
        });

        //on keydown, clear the countdown
        $inputMarido.on('keydown', function () {
            clearTimeout(typingTimer);
        });

        $inputEsposa.on('keydown', function () {
            clearTimeout(typingTimer);
        });

       var lat, lon;

       if ($('#map').length > 0) {

           const map = initMap('map')
           const markerLayer = createMarkerLayer(map)

           function verificaCep(input) {
               let cep = $(input).val()
               if (cep.length == 9) {
                   $.blockUI({
                       css: {
                           backgroundColor: 'transparent',
                           border: 'none'
                       },
                       message: `<div class="spinner">
  <div style="background-color:${corBotao}" class="rect1"></div>
  <div style="background-color:${corBotao}" class="rect2"></div>
  <div style="background-color:${corBotao}" class="rect3"></div>
  <div style="background-color:${corBotao}" class="rect4"></div>
  <div style="background-color:${corBotao}" class="rect5"></div>
</div>`,
                       baseZ: 1500,
                       overlayCSS: {
                           opacity: 0.7,
                           cursor: 'wait'
                       }
                   });
                   $.ajax({
                       url: `https://api.iecbeventos.com.br/cep/${cep.replaceAll('-', '')}`,
                       datatype: "json",
                       type: "GET",
                       contentType: 'application/json; charset=utf-8',
                       success: function (data) {
                           $(`#participante-logradouro`).val(data.logradouro)
                           $(`#participante-bairro`).val(data.bairro)
                           $(`#participante-cidade`).val(data.localidade)
                           $(`#participante-estado`).val(data.uf)
                           $(`#participante-latitude`).val(data.lat)
                           $(`#participante-longitude`).val(data.lon)
                           $.unblockUI();
                           markerLayer.getLayers().forEach(mark => mark.remove())
                           var marker = L.marker([data.lat, data.lon], {
                               icon: getIcon('vermelho'), draggable: true,
                               autoPan: true
                           }).addTo(markerLayer);
                           marker.on('moveend', function (event) {
                               $(`#participante-latitude`).val(event.target._latlng.lat)
                               $(`#participante-longitude`).val(event.target._latlng.lng)

                           });
                           $('#map').css('display', 'block')
                           map.setView([data.lat, data.lon], 18);
                           map.on('click', function (event) {
                               markerLayer.getLayers().forEach(mark => mark.remove())
                               var marker = L.marker([event.latlng.lat, event.latlng.lng], {
                                   icon: getIcon('vermelho'), draggable: true,
                                   autoPan: true
                               }).addTo(markerLayer);
                               marker.on('moveend', function (event) {
                                   $(`#participante-latitude`).val(event.latlng.lat)
                                   $(`#participante-longitude`).val(event.latlng.lng)

                               });
                           })
                       }
                   })
               }
           }
       }

       function VerificaCadastro(tipo) {
               $.ajax({
                   url: "/Inscricoes/VerificaCadastro",
                   datatype: "json",
                   type: "POST",
                   contentType: 'application/json; charset=utf-8',
                   data: JSON.stringify({
                       Email: tipo == 'marido' ? ('@ViewBag.Tipo'.includes('Equipe') ? $(`#participante-fone-marido`).val() : $(`#participante-email-marido`).val()) :  ('@ViewBag.Tipo'.includes('Equipe') ? $(`#participante-fone-esposa`).val() : $(`#participante-email-esposa`).val()),
                       Tipo: '@ViewBag.Tipo'.includes('Equipe') ? "Inscrições Equipe" : "Inscrições",
                       eventoId: @ViewBag.EventoId
                   }),
                   success: function (data) {
                       evento = data.Evento
                       if (data.Participante && typeof (data.Participante) != "string") {
                           if ('(@ViewBag.Tipo)'.includes('Equipe')) {
                               $('#EquipanteId').val(data.Participante.Id)
                           }
                           if (tipo == 'marido') {

                               $(`#participante-nome-marido`).val(data.Participante.Nome);
                               $(`#participante-apelido-marido`).val(data.Participante.Apelido);
                               $("#participante-data-nascimento-marido").val(moment(data.Participante.DataNascimento, 'DD/MM/YYYY').format('DD/MM/YYYY'));
                               $(`#participante-email-marido`).val(data.Participante.Email);
                               $(`#participante-fone-marido`).val(data.Participante.Fone);
                               $(`#participante-nome-convite`).val(data.Participante.NomeConvite);
                               $(`#participante-fone-convite`).val(data.Participante.FoneConvite);
                               $(`#participante-nome-contato`).val(data.Participante.NomeContato);
                               $(`#participante-fone-contato`).val(data.Participante.FoneContato);
                               $(`#participante-restricaoalimentar-marido`).val(data.Participante.RestricaoAlimentar);
                               $(`input[type=radio][name=participante-hasrestricaoalimentar-marido][value=${data.Participante.HasRestricaoAlimentar}]`).iCheck('check');
                               $('.dados-participante-contato').removeClass('d-none');
                               $('.dados-participante-contato input[id*="nome"]').addClass('required');
                               $('.dados-participante-contato input[id*="fone"]').addClass('fone');
                           } else {
                               $(`#participante-nome-esposa`).val(data.Participante.Nome);
                               $(`#participante-apelido-esposa`).val(data.Participante.Apelido);
                               $("#participante-data-nascimento-esposa").val(moment(data.Participante.DataNascimento, 'DD/MM/YYYY').format('DD/MM/YYYY'));
                               $(`#participante-email-esposa`).val(data.Participante.Email);
                               $(`#participante-fone-esposa`).val(data.Participante.Fone);
                               $(`#participante-nome-convite`).val(data.Participante.NomeConvite);
                               $(`#participante-fone-convite`).val(data.Participante.FoneConvite);
                               $(`#participante-nome-contato`).val(data.Participante.NomeContato);
                               $(`#participante-fone-contato`).val(data.Participante.FoneContato);
                               $(`#participante-restricaoalimentar-esposa`).val(data.Participante.RestricaoAlimentar);
                               $(`input[type=radio][name=participante-hasrestricaoalimentar-esposa][value=${data.Participante.HasRestricaoAlimentar}]`).iCheck('check');
                               $('.dados-participante-contato').removeClass('d-none');
                               $('.dados-participante-contato input[id*="nome"]').addClass('required');
                               $('.dados-participante-contato input[id*="fone"]').addClass('fone');
                           }
                       }
                       else if (data.Url) {
                           window.location.href = data.Url;
                       }
                       if ($('#participante-cep').val()) {
                           verificaCep($('#participante-cep')[0])
                       }



                   }
               })

        }

        $(document).ready(() => {
            $('.i-checks-green').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $('.i-checks-brown').iCheck({
                checkboxClass: 'icheckbox_square-brown',
                radioClass: 'iradio_square-brown'
            });


            $('#has-medicacao').on('ifChecked', function (event) {
                $('.medicacao').removeClass('d-none');
                $("#participante-medicacao").addClass('required');
            });

            $('#not-medicacao').on('ifChecked', function (event) {
                $('.medicacao').addClass('d-none');
                $("#participante-medicacao").removeClass('required');
            });

            $('#has-parente').on('ifChecked', function (event) {
                $('.parente').removeClass('d-none');
                $("#participante-parente").addClass('required');
            });

            $('#not-parente').on('ifChecked', function (event) {
                $('.parente').addClass('d-none');
                $("#participante-parente").removeClass('required');
            });

            $('#trindade').on('ifChecked', function (event) {
                $('.congregacao').addClass('d-none');
                $("#participante-congregacaodescricao").removeClass('required');
            });

            $('#recon').on('ifChecked', function (event) {
                $('.congregacao').addClass('d-none');
                $("#participante-congregacaodescricao").removeClass('required');
            });

            $('#outra').on('ifChecked', function (event) {
                $('.congregacao').removeClass('d-none');
                $("#participante-congregacaodescricao").addClass('required');
            });

            $('#has-restricaoalimentar-marido').on('ifChecked', function (event) {
                $('.restricaoalimentar-marido').removeClass('d-none');
                $("#participante-restricaoalimentar-marido").addClass('required');
            });

            $('#not-restricaoalimentar-marido').on('ifChecked', function (event) {
                $('.restricaoalimentar-marido').addClass('d-none');
                $("#participante-restricaoalimentar-marido").removeClass('required');
            });

            $('#has-restricaoalimentar-esposa').on('ifChecked', function (event) {
                $('.restricaoalimentar-esposa').removeClass('d-none');
                $("#participante-restricaoalimentar-esposa").addClass('required');
            });

            $('#not-restricaoalimentar-esposa').on('ifChecked', function (event) {
                $('.restricaoalimentar-esposa').addClass('d-none');
                $("#participante-restricaoalimentar-esposa").removeClass('required');
            });

            $('#is-casado').on('ifChecked', function (event) {
                $('.casado').removeClass('d-none');
                $("#participante-data-casamento").addClass('required');
            });

            $('#not-casado').on('ifChecked', function (event) {
                $('.casado').addClass('d-none');
                $("#participante-data-casamento").removeClass('required');
            });
        });

        var evento = null
        function PostInscricao() {
            $('.btn-juventude').prop('disabled', true)
            if (ValidateForm(`#form-inscricao`)) {
                if ($('#participante-email-marido').val() == $('#participante-email-esposa').val()) {
                    $('.btn-juventude').prop('disabled', false)
                    ErrorMessage('O email do <strong>marido</strong> e da <strong>esposa</strong> deve ser diferente')
                } else {
                executePostInscricao()

                }
            } else {
                $('.btn-juventude').prop('disabled', false)
            }
        }

        function mostrarTermo() {
            if ($('#lertermo').text() == 'Ocultar o termo') {
                $('#termo').css('display', 'none')
                $('#lertermo').text('Ler o termo')
            } else {

            $('#termo').css('display', 'block')
            $('#lertermo').text('Ocultar o termo')
            }
        }

        function executePostInscricao() {
            var div = document.createElement("div");

            div.innerHTML = `<div><h4><strong>${$('#participante-nome-marido').val()}</strong> e <strong>${$('#participante-nome-esposa').val()}</strong></h4> <p>Ao confirmar sua inscrição, vocês concordam que o <strong>${evento}</strong> proceda com o tratamento de seus dados.</p>

    <div id="termo" style="display:none">
    <p>Entende-se por tratamento de acordo com o artigo 5º inciso X, a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.</p>
    <p>A Controladora responsabiliza-se pela manutenção de medidas de segurança, técnicas e administrativas aptas a proteger os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito.</p>
    </div>
    <a id="lertermo" style="cursor: pointer;
    font-size: 12px;
    text-decoration: underline;" onclick="mostrarTermo()">Ler o termo</a>
    </div>`
            CustomSwal({
                title: "Confirmar Inscrição",
                icon: "logo",
                content: div,
                className: "button-center",
                dangerMode: true,
                buttons: {
                    cancelar: {
                        text: "Cancelar",
                        value: false,
                        className: "btn-cancelar w-150 btn-cancelar"
                    },
                    confirmar: {
                        text: "Li e confirmo",
                        value: true,
                        className: "btn-confirmar w-150 btn-confirmar"
                    },


                }
            }).then(result => {
                if (result) {


                    $.ajax({
                        url: '(@ViewBag.Tipo)'.includes('Equipe') ? "/Equipante/PostEquipante/" : "/Inscricoes/PostInscricao/",
                        datatype: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(
                            {
                                Inscricao: true,
                                EventoId: @ViewBag.EventoId,
                                Id: '(@ViewBag.Tipo)'.includes('Equipe') ? $('#EquipanteId').val() : 0,
                                Nome: $(`#participante-nome-marido`).val(),
                                Apelido: $(`#participante-apelido-marido`).val(),
                                DataNascimento: moment($("#participante-data-nascimento-marido").val(), 'DD/MM/YYYY', 'pt-br').toJSON(),
                                Email: $(`#participante-email-marido`).val(),
                                Fone: $(`#participante-fone-marido`).val(),
                                Camisa: $(`#participante-camisa-marido`).val(),
                                CEP: $(`#participante-cep`).val(),
                                Congregacao: $("input[type=radio][name=participante-congregacao]:checked").data("valor") != "Outra" ? $("input[type=radio][name=participante-congregacao]:checked").val() : $(`#participante-congregacaodescricao`).data("valor"),
                                Logradouro: $(`#participante-logradouro`).val(),
                                Bairro: $(`#participante-bairro`).val(),
                                Cidade: $(`#participante-cidade`).val(),
                                EquipeId: $('#participante-equipe').val(),
                                Estado: $(`#participante-estado`).val(),
                                Numero: $(`#participante-numero`).val(),
                                Complemento: $(`#participante-complemento`).val(),
                                Conjuge: $(`#participante-nome-esposa`).val(),
                                Referencia: $(`#participante-referencia`).val(),
                                Latitude: $(`#participante-latitude`).val(),
                                Longitude: $(`#participante-longitude`).val(),
                                HasRestricaoAlimentar: $("input[type=radio][name=participante-hasrestricaoalimentar-marido]:checked").data('valor'),
                                RestricaoAlimentar: $(`#participante-restricaoalimentar-marido`).val(),
                                IsCasado: $("input[type=radio][name=participante-iscasado]:checked").data('valor'),
                                DataCasamento: moment($("#participante-data-casamento").val(), 'DD/MM/YYYY', 'pt-br').toJSON(),
                                Sexo: 1,
                                NomeConvite: $(`#participante-nome-convite`).val(),
                                FoneConvite: $(`#participante-fone-convite`).val(),
                                NomeContato: $(`#participante-nome-contato`).val(),
                                FoneContato: $(`#participante-fone-contato`).val(),
                            }),
                        success: function (url) {

                            $.ajax({
                                url: '(@ViewBag.Tipo)'.includes('Equipe') ? "/Equipante/PostEquipante/" : "/Inscricoes/PostInscricao/",
                                datatype: "json",
                                type: "POST",
                                contentType: 'application/json; charset=utf-8',
                                data: JSON.stringify(
                                    {
                                        Inscricao: true,
                                        EventoId: @ViewBag.EventoId,
                                        Id: '(@ViewBag.Tipo)'.includes('Equipe') ? $('#EquipanteId').val() : 0,
                                        Nome: $(`#participante-nome-esposa`).val(),
                                        Apelido: $(`#participante-apelido-esposa`).val(),
                                        DataNascimento: moment($("#participante-data-nascimento-esposa").val(), 'DD/MM/YYYY', 'pt-br').toJSON(),
                                        Email: $(`#participante-email-esposa`).val(),
                                        Conjuge: $(`#participante-nome-marido`).val(),
                                        Fone: $(`#participante-fone-esposa`).val(),
                                        Camisa: $(`#participante-camisa-esposa`).val(),
                                        CEP: $(`#participante-cep`).val(),
                                        Congregacao: $("input[type=radio][name=participante-congregacao]:checked").data("valor") != "Outra" ? $("input[type=radio][name=participante-congregacao]:checked").val() : $(`#participante-congregacaodescricao`).data("valor"),
                                        Logradouro: $(`#participante-logradouro`).val(),
                                        Bairro: $(`#participante-bairro`).val(),
                                        Cidade: $(`#participante-cidade`).val(),
                                        EquipeId: $('#participante-equipe').val(),
                                        Estado: $(`#participante-estado`).val(),
                                        Numero: $(`#participante-numero`).val(),
                                        Complemento: $(`#participante-complemento`).val(),
                                        Referencia: $(`#participante-referencia`).val(),
                                        Latitude: $(`#participante-latitude`).val(),
                                        Longitude: $(`#participante-longitude`).val(),
                                        HasRestricaoAlimentar: $("input[type=radio][name=participante-hasrestricaoalimentar-esposa]:checked").data('valor'),
                                        RestricaoAlimentar: $(`#participante-restricaoalimentar-esposa`).val(),
                                        IsCasado: $("input[type=radio][name=participante-iscasado]:checked").data('valor'),
                                        DataCasamento: moment($("#participante-data-casamento").val(), 'DD/MM/YYYY', 'pt-br').toJSON(),
                                        Sexo: 2,
                                        NomeConvite: $(`#participante-nome-convite`).val(),
                                        FoneConvite: $(`#participante-fone-convite`).val(),
                                        NomeContato: $(`#participante-nome-contato`).val(),
                                        FoneContato: $(`#participante-fone-contato`).val(),
                                    }),
                                success: function (url) {
                                    window.location.href = url;
                                }
                            })
                        },
                        error: function () {
                            $("body").scrollTop(0);
                            $('.btn-juventude').prop("disabled", false);
                        }
                    });
                } else {
                    $("body").scrollTop(0);
                    $('.btn-juventude').prop('disabled', false)
                }
            })
        }


       $("#participante-email-marido").on('keypress', function (e) {
           if (e.which == 13) {
               VerificaCadastro("marido")
           }
       });


        $("#participante-email-esposa").on('keypress', function (e) {
            if (e.which == 13) {
                VerificaCadastro("esposa")
            }
        });


    </script>

}