@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<div class="middle-box inscricoes animated fadeInDown " style="display:flex">
    <div style="margin:auto;width:95%">
        <div class="row justify-content-center p-sm">
            <div class="col col-12">
                <div class="p-h-xs m-b-lg" id="form-inscricao">
                    <div class="form-group">
                        <label for="participante-fone" class="">Fone </label>

                        <div style="position:relative">
                            <i style="position: absolute; top: 10px; font-size: 16px; right: 10px; cursor: pointer;" onclick="VerificaCadastro()" class="fas fa-search"></i>
                            <input type="text" class="form-control fone" id="participante-fone" data-field="Telefone do Participante" />
                        </div>
                    </div>
                    <div class="pnl-cadastro">

                        <div class="form-group">
                            <label for="participante-nome" class="">Nome completo</label>
                            <input type="text" class="form-control required" id="participante-nome" data-field="Nome completo" value="" />
                        </div>
                        <div class="form-group">
                            <label for="participante-apelido" class="">Como você gostaria que seu crachá fosse impresso?</label>
                            <input type="text" class="form-control required" id="participante-apelido" data-field="Como você gostaria que seu crachá fosse impresso?" />
                        </div>
                        <div class="form-group">
                            <label for="participante-sexo" class=" block">Sexo</label>
                            <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="sexo-masculino" checked="" value="1" name="participante-sexo"> <i></i> Masculino </label></div>
                            <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="sexo-feminino" value="2" name="participante-sexo"> <i></i> Feminino </label></div>
                        </div>
                        <div class="form-group">
                            <label for="participante-data-nascimento" class="">Data de nascimento</label>
                            <input type="text" class="form-control full-date required" id="participante-data-nascimento" data-field="Data de nascimento" />
                        </div>
                        <div class="row justify-content-center">
                            <div class="col col-md-3 col-sm-12">
                                <div class="form-group">
                                    <label for="participante-cep" class="">CEP</label>
                                    <input type="text" class="form-control required cep" id="participante-cep" data-field="CEP" value="@ViewBag.CEP" onkeyup="verificaCep(this)" />
                                    <input type="hidden" id="participante-latitude" />
                                    <input type="hidden" id="participante-longitude" />
                                </div>
                            </div>
                            <div class="col col-md-9 col-sm-12">
                                <div class="form-group">
                                    <label for="participante-logradouro" class="">Logradouro</label>
                                    <input type="text" class="form-control required" disabled id="participante-logradouro" data-field="Logradouro" />
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col col-md-5 col-sm-12">
                                <div class="form-group">
                                    <label for="participante-bairro" class="">Bairro</label>
                                    <input type="text" class="form-control required" disabled id="participante-bairro" data-field="Bairro" />
                                </div>
                            </div>
                            <div class="col col-md-5 col-sm-12">
                                <div class="form-group">
                                    <label for="participante-cidade" class="">Cidade</label>
                                    <input type="text" class="form-control required" disabled id="participante-cidade" data-field="Cidade" />
                                </div>
                            </div>
                            <div class="col col-md-2 col-sm-12">
                                <div class="form-group">
                                    <label for="participante-estado" class="">Estado</label>
                                    <input type="text" class="form-control required" disabled id="participante-estado" data-field="Estado" />
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label for="participante-numero" class="">Número</label>
                                    <input type="text" class="form-control" id="participante-numero" value="@ViewBag.Numero" data-field="Número" />
                                </div>
                            </div>
                            <div class="col col-md-8 col-sm-12">
                                <div class="form-group">
                                    <label for="participante-complemento" class="">Complemento</label>
                                    <input type="text" class="form-control" id="participante-complemento" value="@ViewBag.Complemento" data-field="Complemento" />
                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="col col-sm-12">
                                <div class="form-group">
                                    <label for="participante-referencia" class="">Ponto de referência</label>
                                    <input type="text" class="form-control" id="participante-referencia" value="@ViewBag.Referencia" data-field="Ponto de referência" />
                                </div>
                                <div class="form-group">
                                    <div id="map" style="height:300px;display:none">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="participante-hasmedicacao" class=" block">Toma alguma medicação?</label>
                            <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-medicacao" value="true" name="participante-hasmedicacao"> <i></i> Sim </label></div>
                            <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-medicacao" checked="" value="false" name="participante-hasmedicacao"> <i></i> Não </label></div>
                        </div>
                        <div class="form-group medicacao d-none">
                            <label for="participante-medicacao" class="">Qual?</label>
                            <input type="text" class="form-control" id="participante-medicacao" data-field="Medicação" />
                        </div>
                        <div class="form-group">
                            <label for="participante-hasalergia" class=" block">Tem alguma alergia?</label>
                            <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-alergia" value="true" name="participante-hasalergia"> <i></i> Sim </label></div>
                            <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-alergia" checked="" value="false" name="participante-hasalergia"> <i></i> Não </label></div>
                        </div>
                        <div class="form-group alergia d-none">
                            <label for="participante-alergia" class="">Qual?</label>
                            <input type="text" class="form-control" id="participante-alergia" data-field="Alergia" />
                        </div>
                        <div class="form-group">
                            <label for="participante-hasrestricaoalimentar" class=" block">Tem alguma restrição alimentar?</label>
                            <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-restricaoalimentar" value="true" name="participante-hasrestricaoalimentar"> <i></i> Sim </label></div>
                            <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-restricaoalimentar" checked="" value="false" name="participante-hasrestricaoalimentar"> <i></i> Não </label></div>
                        </div>
                        <div class="form-group restricaoalimentar d-none">
                            <label for="participante-restricaoalimentar" class="">Qual?</label>
                            <input type="text" class="form-control" id="participante-restricaoalimentar" data-field="Restrição alimentar" />
                        </div>
                        <div class="text-right">

                            <button type="button" class="btn btn-juventude pnl-cadastro" onclick="PostInscricao()">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var lat, lon;

        if ($('#map').length > 0) {

            const map = initMap('map')
            const markerLayer = createMarkerLayer(map)

            function verificaCep(input) {
                let cep = $(input).val()
                if (cep.length == 9) {
                    $.blockUI({
                        css: {
                            backgroundColor: 'transparent',
                            border: 'none'
                        },
                        message: `<div class="spinner">
  <div style="background-color:${corBotao}" class="rect1"></div>
  <div style="background-color:${corBotao}" class="rect2"></div>
  <div style="background-color:${corBotao}" class="rect3"></div>
  <div style="background-color:${corBotao}" class="rect4"></div>
  <div style="background-color:${corBotao}" class="rect5"></div>
</div>`,
                        baseZ: 1500,
                        overlayCSS: {
                            opacity: 0.7,
                            cursor: 'wait'
                        }
                    });
                    $.ajax({
                        url: `https://api.iecbeventos.com.br/cep/${cep.replaceAll('-', '')}`,
                        datatype: "json",
                        type: "GET",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $(`#participante-logradouro`).val(data.logradouro)
                            $(`#participante-bairro`).val(data.bairro)
                            $(`#participante-cidade`).val(data.localidade)
                            $(`#participante-estado`).val(data.uf)
                            $(`#participante-latitude`).val(data.lat)
                            $(`#participante-longitude`).val(data.lon)
                            $.unblockUI();
                            markerLayer.getLayers().forEach(mark => mark.remove())
                            var marker = L.marker([data.lat, data.lon], {
                                icon: getIcon('vermelho'), draggable: true,
                                autoPan: true
                            }).addTo(markerLayer);
                            marker.on('moveend', function (event) {
                                $(`#participante-latitude`).val(event.target._latlng.lat)
                                $(`#participante-longitude`).val(event.target._latlng.lng)

                            });
                            $('#map').css('display', 'block')
                            map.setView([data.lat, data.lon], 18);
                            map.on('click', function (event) {
                                markerLayer.getLayers().forEach(mark => mark.remove())
                                var marker = L.marker([event.latlng.lat, event.latlng.lng], {
                                    icon: getIcon('vermelho'), draggable: true,
                                    autoPan: true
                                }).addTo(markerLayer);
                                marker.on('moveend', function (event) {
                                    $(`#participante-latitude`).val(event.latlng.lat)
                                    $(`#participante-longitude`).val(event.latlng.lng)

                                });
                            })
                        }
                    })
                }
            }
        }

        function VerificaCadastro() {
            $.ajax({
                url: "/Equipante/VerificaCadastro",
                datatype: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    EventoId: @ViewBag.EventoId,
                    Fone: $(`#participante-fone`).val()
                }),
                success: function (url) {
                    if (url) {
                        window.location.href = url;
                    } else {
                        if ($('#participante-cep').val()) {
                            verificaCep($('#participante-cep')[0])
                        }
                        $("#participante-fone").prop("disabled", true)
                        $('.pnl-cadastro input').attr('disabled', false)
                        $('.pnl-cadastro select').attr('disabled', false)
                        $('.pnl-cadastro button').attr('disabled', false)
                        $('.i-checks-green').iCheck({
                            checkboxClass: 'icheckbox_square-green',
                            radioClass: 'iradio_square-green'
                        });

                        $('.i-checks-brown').iCheck({
                            checkboxClass: 'icheckbox_square-brown',
                            radioClass: 'iradio_square-brown'
                        });

                    }
                }
            })
        }

        function PostInscricao() {
            if (ValidateForm(`#form-inscricao`)) {
                $.ajax({
                    url: "/Equipante/PostEquipante/",
                    datatype: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        {
                            Nome: $(`#participante-nome`).val(),
                            Apelido: $(`#participante-apelido`).val(),
                            DataNascimento: moment($("#participante-data-nascimento").val(), 'DD/MM/YYYY', 'pt-br').toJSON(),
                            Email: $(`#participante-email`).val(),
                            Fone: $(`#participante-fone`).val(),
                            EventoId: @ViewBag.EventoId,
                            HasRestricaoAlimentar: $("input[type=radio][name=participante-hasrestricaoalimentar]:checked").val(),
                            RestricaoAlimentar: $(`#participante-restricaoalimentar`).val(),
                            HasMedicacao: $("input[type=radio][name=participante-hasmedicacao]:checked").val(),
                            Medicacao: $(`#participante-medicacao`).val(),
                            HasAlergia: $("input[type=radio][name=participante-hasalergia]:checked").val(),
                            Alergia: $(`#participante-alergia`).val(),
                            CEP: $(`#participante-cep`).val(),
                            Logradouro: $(`#participante-logradouro`).val(),
                            Bairro: $(`#participante-bairro`).val(),
                            Cidade: $(`#participante-cidade`).val(),
                            Estado: $(`#participante-estado`).val(),
                            Numero: $(`#participante-numero`).val(),
                            Complemento: $(`#participante-complemento`).val(),
                            Referencia: $(`#participante-referencia`).val(),
                            Latitude: $(`#participante-latitude`).val(),
                            Longitude: $(`#participante-longitude`).val(),
                            Inscricao: true,

                            Sexo: $("input[type=radio][name=participante-sexo]:checked").val(),
                        }),
                    success: function (url) {
                        window.location.href = url;
                    }
                });
            }
        }

        $('#trindade').on('ifChecked', function (event) {
            $('.congregacao').addClass('d-none');
            $("#participante-congregacaodescricao").removeClass('required');
        });

        $('#recon').on('ifChecked', function (event) {
            $('.congregacao').addClass('d-none');
            $("#participante-congregacaodescricao").removeClass('required');
        });

        $('#outra').on('ifChecked', function (event) {
            $('.congregacao').removeClass('d-none');
            $("#participante-congregacaodescricao").addClass('required');
        });


        $('#has-medicacao').on('ifChecked', function (event) {
            $('.medicacao').removeClass('d-none');
            $("#participante-medicacao").addClass('required');
        });

        $('#has-parente').on('ifChecked', function (event) {
            $('.parente').removeClass('d-none');
            $("#participante-parente").addClass('required');
        });

        $('#not-parente').on('ifChecked', function (event) {
            $('.parente').addClass('d-none');
            $("#participante-parente").removeClass('required');
        });

        $('#not-medicacao').on('ifChecked', function (event) {
            $('.medicacao').addClass('d-none');
            $("#participante-medicacao").removeClass('required');
        });

        $('#has-alergia').on('ifChecked', function (event) {
            $('.alergia').removeClass('d-none');
            $("#participante-alergia").addClass('required');
        });

        $('#not-alergia').on('ifChecked', function (event) {
            $('.alergia').addClass('d-none');
            $("#participante-alergia").removeClass('required');
        });

        $('#has-restricaoalimentar').on('ifChecked', function (event) {
            $('.restricaoalimentar').removeClass('d-none');
            $("#participante-restricaoalimentar").addClass('required');
        });

        $('#not-restricaoalimentar').on('ifChecked', function (event) {
            $('.restricaoalimentar').addClass('d-none');
            $("#participante-restricaoalimentar").removeClass('required');
        });

        $('.pnl-cadastro input').attr('disabled', true)
        $('.pnl-cadastro select').attr('disabled', true)
        $('.pnl-cadastro button').attr('disabled', true)
    </script>

}
