@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IECB Eventos | @ViewBag.Action</title>

    <link href="~/Fonts/font-awesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
          type="text/css" />

    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/logo-iecb.png" />

    @Styles.Render("~/Content/css")
    <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.css" integrity="sha512-n/Uz0nm+qm1KbAOnqYOg9OihX5n1gFz2a+VyHoMSHOK6AdMSpH5Sak6yVI/cx721pUJarnwDHMkljOQrFOirTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

        body {
            font-family: "Roboto" !important;
        }

        h3 {
            text-transform: uppercase !important;
        }

        span {
            letter-spacing: 0.5px;
        }

        .row-eventos {
            width: 70%;
            margin:auto;
        }


        .wrapper {
            position: relative;
            z-index: 100;
        }

        .img-logo {
            max-width: 100%;
            max-height: 100px;
            margin: auto;
        }

        .widget {
            color: #ffffff;
            border-radius: 12px;
            height: 375px !important;
        }

        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1e1e20;
            opacity: .4;
            border-radius: 12px;
        }

        a:hover .overlay {
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            transition: box-shadow 0.3s ease 0s, border-radius 0.3s ease 0s, background-color 0.3s ease 0s, border-radius 0.7s ease 0s;
        }

        a:hover .bloco {
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            transition: box-shadow 0.3s ease 0s, border-radius 0.3s ease 0s, background-color 0.3s ease 0s, border-radius 0.7s ease 0s;
        }

        a:hover .card-body {
            -webkit-box-shadow: rgb(25 31 40 / 15%) 0px 6px 24px 0px;
            box-shadow: rgb(25 31 40 / 15%) 0px 6px 24px 0px;
            transition: box-shadow 0.3s ease 0s, border-radius 0.3s ease 0s, background-color 0.3s ease 0s, border-radius 0.7s ease 0s;
        }

        .card-body {
            background: #fff;
            color: #000;
            padding: 10px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        .destaque-a {
            display: flex
        }

        .bloco-destaque {
            height: 410px !important;
            width: 70%;
            border-radius: 12px;
            background: url('data:image/png;base64,@ViewBag.Destaque.Configuracao.Background');
            background-size: cover;
            display: flex;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
        }

        .img-desatque {
            margin: auto;
            position: relative;
            z-index: 999;
            height: 150px;
        }

        .card-destaque {
            height:410px !important;
            flex: 1;
            padding: 40px 24px;
            -webkit-box-shadow: rgb(25 31 40 / 15%) 0px 6px 24px 0px;
            box-shadow: rgb(25 31 40 / 15%) 0px 6px 24px 0px;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 0px;
        }

        .bloco-normal {
            height: 160px !important;
            border-radius: 12px;
            display: flex;
            position: relative;
        }

        .button-destaque {
            position: absolute;
            bottom: 74px;
            border: 1px solid #aa2428;
            color: #aa2428;
        }

        .button-destaque:hover {
            background-color: #aa2428;
            color: #fff;
        }

        @@media (max-width: 768px) {

            .button-destaque {
                position: relative;
                width: 100%;
                bottom: 0;
            }


            .row-eventos {
                width: 100%;
            }

            .card-destaque {
                border-top-right-radius: 0px;
                border-bottom-left-radius: 12px;

            }

            .destaque-a {
                flex-direction: column
            }

            .bloco-destaque {
                height: 200px !important;
                width: 100%;
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                background: url('data:image/png;base64,@ViewBag.Destaque.Configuracao.Background');
                background-size: cover;
                display: flex;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
            }

            .img-desatque {
                height: 100px;
            }

            .a-normal {
                display: flex;
                height: 80px !important;
                margin-bottom: 20px;
            }

            .bloco-normal {
                width: 40%;
                height: 80px !important;
            }

                .bloco-normal > .img-logo {
                    height: 45px;
                }

                .a-normal h3 {
                    font-size: 14px
                }

            .a-normal > .card-body {
                flex: 1;
                background: transparent;
            }

            .a-normal span, .a-normal p {
                font-size: 12px;
            }


        }
    </style>
</head>
<body>

    <div class="wrapper" style="display:flex;flex-direction:column">
        <div class="row">
            <div class="col-xs-12" style="height:50px;margin-top:20px;display:flex">
                <img style="height: 40px; margin-top: auto; margin-bottom: auto;" src="data:image/png;base64,@ViewBag.Configuracao.Logo" />

                <h3 style="margin-top: auto; margin-bottom: auto; margin-left: 10px; font-weight: 900;font-size:20px ">@ViewBag.Action</h3>
            </div>
        </div>
        <div class="row row-eventos" style="">
            @if (ViewBag.Action == "Inscrições")
            {


                <div class="col-xs-12">
                    <h3 style="font-weight: 900; font-size: 28px;">Evento em destaque</h3>
                </div>
                <div class="col col-xs-12">
                    <a href='@ViewBag.Destaque.UrlDestino' class="destaque-a" style="margin-bottom: 25px;">

                        <div class="bloco bloco-destaque">
                            <div class="overlay"></div>
                            <img class="img-desatque" src="data:image/png;base64,@ViewBag.Destaque.Configuracao.Logo" />
                        </div>

                        <div class="card-body card-destaque">
                            <span style="display: block; color: #9b2125; font-size: 16px;">@ViewBag.Destaque.Data</span>
                            <h3 style="font-size: 28px; margin-top: 4px; margin-bottom: 4px;">
                                @(ViewBag.Destaque.Numeracao)º @ViewBag.Destaque.Configuracao.Titulo

                            </h3>
                            <p style="display: block; color: #686464;">@string.Format("{0:C}", ViewBag.Destaque.Valor)</p>
                            <span href='@ViewBag.Destaque.UrlDestino' class="button-destaque btn btn-outline">VER DETALHES</span>
                        </div>
                    </a>
                </div>
            }
            <div class="col-xs-12">
                <h3 style="font-weight:900;font-size:22px">Próximos eventos</h3>
            </div>
            @foreach (var evento in ViewBag.Eventos)
            {
                <div class="col-md-3 col col-xs-12">
                    <a href='@evento.UrlDestino' class="a-normal">

                        <div class="bloco bloco-normal" style="        background: url('data:image/png;base64,@evento.Configuracao.Background');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
">
                            <div class="overlay"></div>
                            <img class="img-logo" style="margin:auto;position: relative; z-index: 999" src="data:image/png;base64,@evento.Configuracao.Logo" />
                        </div>

                        <div class="card-body">
                            <span style="display: block; color: #9b2125;">@evento.Data</span>
                            <h3 style="font-size: 16px; margin-top: 4px; margin-bottom: 4px;">
                                @(evento.Numeracao)º @evento.Configuracao.Titulo

                            </h3>
                            @if (ViewBag.Action == "Inscrições")
                            {

                                <p style="display: block; color: #686464;">@string.Format("{0:C}", evento.Valor)</p>
                            }
                            else
                            {
                                <p style="display: block; color: #686464;">@string.Format("{0:C}", evento.ValorTaxa)</p>
                            }
                        </div>
                    </a>
                </div>

            }
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/plugins/imaskjs/imask.js"></script>
<script src="~/Scripts/app/Util/extensions.js"></script>
<script src="~/Scripts/app/Util/forms.js"></script>
<script src="~/Scripts/app/Util/inputs.js"></script>
<script src="~/Scripts/app/Util/messages.js"></script>
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
<script src="~/Scripts/plugins/moment/moment-with-locales.min.js"></script>
<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"></script>
<script src="~/Scripts/app/Util/mapa.js"></script>
<script src="https://malsup.github.io/jquery.blockUI.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js" integrity="sha512-LRkOtikKE2LFHPWiWh0/bfFynswxRwCZ5O7PkXTVFPcprw376xfOemiEHEOmCCmiwS6eLFUh2fb+Gqxc0waTSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/Scripts/app/Util/forms.js"></script>
<script>
</script>