@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IECB Eventos | Inscrições</title>

    <link href="~/Fonts/font-awesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
          type="text/css" />

    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/logo-iecb.png" />

    @Styles.Render("~/Content/css")
    <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.css" integrity="sha512-n/Uz0nm+qm1KbAOnqYOg9OihX5n1gFz2a+VyHoMSHOK6AdMSpH5Sak6yVI/cx721pUJarnwDHMkljOQrFOirTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>


        .background-inscricoes > * {
            z-index: 100;
        }

        .wrapper {
            position: relative;
            z-index: 100;
        }

        .img-logo {
            max-width: 100%;
            max-height: 150px;
            margin: auto;
                
        }

        .widget {
            color: #ffffff; 
            border-radius: 12px;
            height:375px !important;
        }

        a {
           text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        .background-inscricoes {
            top: 0;
            z-index: 1;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            /*background: url("./Images/background-inscricoes.jpg") no-repeat center center fixed;*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

            .background-inscricoes::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #1e1e20;
                opacity: .3;
            }

        .overlay {
            position: absolute;
            border-radius: 12px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1e1e20;
            opacity: .7;
        }

        a:hover .overlay{
            opacity: .4;
        }
    </style>
</head>
<body>
    <div class="background-inscricoes">
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">

            @foreach (var evento in ViewBag.Eventos)
            {
                <div class="col-md-4 col col-xs-12">
                    <a href="@Url.Action("Inscricoes", "Inscricoes",new { id = evento.Id, Tipo = ViewBag.Action })">

                    <div class="width100 bloco widget p-md text-center" style="        background: url('data:image/png;base64,@evento.Configuracao.Background');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position:relative;
">
                        <div class="overlay"></div>
                        <div class="m-b-xs " style="position:relative; z-index:999">
                            <div class="card">
                                <img class="img-logo" src="data:image/png;base64,@evento.Configuracao.Logo" />

                                <h1>
                                    @(evento.Numeracao)º @evento.Configuracao.Titulo

                                </h1>
                                <h5 style="display:block">@evento.Descricao</h5>
                                <h4 style="display:block">@string.Format("{0:C}", evento.Valor)</h4>
                                <span style="display:block">@evento.Data</span>

                            </div>
                        </div>
                    </div>
                    </a>
                </div>

            }
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/plugins/imaskjs/imask.js"></script>
<script src="~/Scripts/app/Util/extensions.js"></script>
<script src="~/Scripts/app/Util/forms.js"></script>
<script src="~/Scripts/app/Util/inputs.js"></script>
<script src="~/Scripts/app/Util/messages.js"></script>
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
<script src="~/Scripts/plugins/moment/moment-with-locales.min.js"></script>
<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"></script>
<script src="~/Scripts/app/Util/mapa.js"></script>
<script src="https://malsup.github.io/jquery.blockUI.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js" integrity="sha512-LRkOtikKE2LFHPWiWh0/bfFynswxRwCZ5O7PkXTVFPcprw376xfOemiEHEOmCCmiwS6eLFUh2fb+Gqxc0waTSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/Scripts/app/Util/forms.js"></script>
<script>
    $(document).ready(() => {
        if (isMobile) {
            @if (ViewBag.Configuracao.BackgroundCelularId != null)
            {
                <text> $('.background-inscricoes').css('background', `url(data:image/jpeg;base64,@ViewBag.Login.BackgroundCelular) no-repeat center center fixed`) </text>
                <text> $('.background-inscricoes').css('background-size', 'cover')</text>
            }
        } else {

            @if (ViewBag.Configuracao.BackgroundId != null)
            {
                <text> $('.background-inscricoes').css('background', `url(data:image/jpeg;base64,@ViewBag.Login.Background) no-repeat center center fixed`) </text>
                <text> $('.background-inscricoes').css('background-size', 'cover')</text>
            }
        }
    })
</script>