@using Utils.Enums;
@using Utils.Extensions;
@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<div class="middle-box inscricoes animated fadeInDown " style="display: flex">


    <div style="margin:auto;width:95%">


        <div class="row justify-content-center p-sm">
            <div class="col col-12">
                <div class="p-h-xs m-b-lg" id="form-inscricao">
                    <input type="hidden" name="EquipanteId" id="EquipanteId" value="0" />
                    <div class="form-group">
                        <label for="participante-email" class="">Digite o e-mail do @ViewBag.Sujeito</label>
                        <div style="position:relative">
                            <i style="position: absolute; top: 10px; font-size: 16px; right: 10px; cursor: pointer;" onclick="VerificaCadastro()" class="fas fa-search"></i>
                            <input type="email" class="form-control" name="email" id="participante-email" data-field="E-mail" />
                        </div>
                    </div>
                    <div class="pnl-cadastro">
                        @if (ViewBag.Campos.Contains(CamposEnum.Nome.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome" class="">Nome completo do @ViewBag.Sujeito</label>
                                <input type="text" class="form-control required" id="participante-nome" name="name" data-field="Nome" value="@ViewBag.Nome" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Apelido.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-apelido" class="">Como o @ViewBag.Sujeito gostaria de ser chamado no @ViewBag.Configuracao.Titulo?</label>
                                <input type="text" class="form-control required" id="participante-apelido" name"nickname" data-field="Apelido" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Genero.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-sexo" class=" block">Gênero do @ViewBag.Sujeito</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="sexo-masculino" checked="" data-valor="1" name="participante-sexo"> <i></i> Masculino </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="sexo-feminino" data-valor="2" name="participante-sexo"> <i></i> Feminino </label></div>
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.DataNascimento.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-data-nascimento" class="">Data de nascimento do @ViewBag.Sujeito</label>
                                <input type="text" class="form-control full-date required" data-max="@(ViewBag.Tipo == "Inscrições Equipe" ? ViewBag.Evento.IdadeMax: "null")" data-min="@(ViewBag.Tipo == "Inscrições Equipe" ?ViewBag.Evento.IdadeMin : "")" id="participante-data-nascimento" data-idade="17" data-field="Data de nascimento" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Fone.GetDescription()))
                        {

                            <div class="form-group">
                                <label for="participante-fone" class="">Telefone do @ViewBag.Sujeito</label>
                                <input type="text" class="form-control fone" id="participante-fone" data-field="Telefone do participante" />
                            </div>



                        }


                        @if (ViewBag.Campos.Contains(CamposEnum.Conjuge.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-conjuge" class="">Cônjuge</label>
                                <input type="text" class="form-control required" id="participante-conjuge" data-field="Cônjuge" value="@ViewBag.Conjuge" />
                            </div>
                        }

                        @if (ViewBag.Campos.Contains(CamposEnum.Camisa.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-fone" class="">Tamanho da camisa</label>
                                <select class="form-control required" id="participante-camisa" data-field="Tamanho da camisa">
                                    <option></option>
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                    <option value="14">14</option>
                                    <option value="PP">PP</option>
                                    <option value="P">P</option>
                                    <option value="M">M</option>
                                    <option value="G">G</option>
                                    <option value="GG">GG</option>
                                    <option value="XGG">XGG</option>
                                </select>
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Endereco.GetDescription()))
                        {
                            <div class="row justify-content-center">
                                <div class="col col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-cep" class="">CEP</label>
                                        <input type="text" class="form-control required cep" id="participante-cep" data-field="CEP" value="@ViewBag.CEP" onkeyup="verificaCep(this)" />
                                        <input type="hidden" id="participante-latitude" />
                                        <input type="hidden" id="participante-longitude" />
                                    </div>
                                </div>
                                <div class="col col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-logradouro" class="">Logradouro</label>
                                        <input type="text" class="form-control" disabled id="participante-logradouro" data-field="Logradouro" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-bairro" class="">Bairro</label>
                                        <input type="text" class="form-control" disabled id="participante-bairro" data-field="Bairro" />
                                    </div>
                                </div>
                                <div class="col col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-cidade" class="">Cidade</label>
                                        <input type="text" class="form-control" disabled id="participante-cidade" data-field="Cidade" />
                                    </div>
                                </div>
                                <div class="col col-md-2 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-estado" class="">Estado</label>
                                        <input type="text" class="form-control" disabled id="participante-estado" data-field="Estado" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-numero" class="">Número</label>
                                        <input type="text" class="form-control" id="participante-numero" value="@ViewBag.Numero" data-field="Número" />
                                    </div>
                                </div>
                                <div class="col col-md-8 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-complemento" class="">Complemento</label>
                                        <input type="text" class="form-control" id="participante-complemento" value="@ViewBag.Complemento" data-field="Complemento" />
                                    </div>
                                </div>

                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-referencia" class="">Ponto de referência</label>
                                        <input type="text" class="form-control" id="participante-referencia" value="@ViewBag.Referencia" data-field="Ponto de referência" />
                                    </div>
                                    <div class="form-group">
                                        <div id="map" style="height:300px;display:none">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Mae.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-mae" class="">Nome da mãe</label>
                                <input type="text" class="form-control required" id="participante-nome-mae" data-field="Nome da mãe" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-mae" class="">Telefone da mãe</label>
                                <input type="text" class="form-control fone" id="participante-fone-mae" data-field="Telefone da mãe" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Pai.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-pai" class="">Nome do pai</label>
                                <input type="text" class="form-control required" id="participante-nome-pai" data-field="Nome do pai" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-pai" class="">Telefone do pai</label>
                                <input type="text" class="form-control fone" id="participante-fone-pai" data-field="Telefone do pai" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Contato.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-contato" class="">Pessoa de contato</label>
                                <input type="text" class="form-control required" id="participante-nome-contato" data-field="Pessoa de contato" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-contato" class="">Telefone do contato</label>
                                <input type="text" class="form-control fone" id="participante-fone-contato" data-field="Telefone do contato" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Convite.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-convite" class="">Quem lhe fez o convite?</label>
                                <input type="text" class="form-control required" id="participante-nome-convite" value="@ViewBag.NomeConvite" data-field="Quem lhe fez o convite?" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-convite" class="">Telefone de quem lhe fez o convite</label>
                                <input type="text" class="form-control fone" id="participante-fone-convite" value="@ViewBag.FoneConvite" data-field="Telefone de quem lhe fez o convite" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Parente.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasparente" class=" block">Tem algum parente fazendo o @ViewBag.Configuracao.Titulo?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-parente" data-valor="true" name="participante-hasparente"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-parente" checked="" data-valor="false" name="participante-hasparente"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group parente d-none">
                                <label for="participante-parente" class="">Nome do parente</label>
                                <input type="text" class="form-control" id="participante-parente" data-field="Nome do parente" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Congregacao.GetDescription()))
                        {
                            <div class="form-group">

                                @if (ViewBag.Configuracao.ForcarCongregacao != null || ViewBag.Configuracao.ForcarCongregacao == true)
                                {
                                    <label for="participante-congregacao" class="">Se inscreve por qual congregação?</label>
                                }
                                else
                                {
                                    <label for="participante-congregacao" class="">Participa de qual congregação?</label>

                                }
                                <select class="form-control required" id="participante-congregacao" data-field="Congregação">
                                    @if (ViewBag.Configuracao.ForcarCongregacao != null || ViewBag.Configuracao.ForcarCongregacao == true)
                                    {
                                        <option disabled selected value="">Selecione uma Congregação </option>
                                    }

                                    @foreach (var igreja in ViewBag.Igrejas)
                                    {

                                        <option value="@igreja.Igreja">@igreja.Igreja</option>
                                    }
                                    @if (ViewBag.Configuracao.ForcarCongregacao == null || ViewBag.Configuracao.ForcarCongregacao == false)
                                    {
                                        <option value="Nenhuma">Nenhuma</option>
                                        <option value="Outra">Outra</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group congregacao d-none">
                                <label for="participante-congregacaodescricao" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-congregacaodescricao" data-field="Congregação" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Convenio.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasconvenio" class=" block">Possui convênio médico?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-convenio" data-valor="true" name="participante-hasconvenio"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-convenio" checked="" data-valor="false" name="participante-hasconvenio"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group convenio d-none">
                                <label for="participante-convenio" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-convenio" data-field="Convênio" />
                                <label for="participante-hospitais" class="">Quais hospitais atendem?</label>
                                <input type="text" class="form-control" id="participante-hospitais" data-field="Hospitais" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Casamento.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-iscasado" class=" block">É casado?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="is-casado" data-valor="true" name="participante-iscasado"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-casado" checked="" data-valor="false" name="participante-iscasado"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group casado d-none">
                                <label for="participante-data-casamento" class="">Data de casamento</label>
                                <input type="text" class="form-control full-date" id="participante-data-casamento" data-field="Data de casamento" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Medicacao.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasmedicacao" class=" block">Toma alguma medicação?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-medicacao" data-valor="true" name="participante-hasmedicacao"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-medicacao" checked="" data-valor="false" name="participante-hasmedicacao"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group medicacao d-none">
                                <label for="participante-medicacao" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-medicacao" data-field="Medicação" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Alergia.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasalergia" class=" block">Tem alguma alergia?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-alergia" data-valor="true" name="participante-hasalergia"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-alergia" checked="" data-valor="false" name="participante-hasalergia"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group alergia d-none">
                                <label for="participante-alergia" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-alergia" data-field="Alergia" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Restricao.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasrestricaoalimentar" class=" block">Tem alguma restrição alimentar?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-restricaoalimentar" data-valor="true" name="participante-hasrestricaoalimentar"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-restricaoalimentar" checked="" data-valor="false" name="participante-hasrestricaoalimentar"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group restricaoalimentar d-none">
                                <label for="participante-restricaoalimentar" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-restricaoalimentar" data-field="Tem alguma restrição alimentar?" />
                            </div>
                        }


                        @if (ViewBag.Tipo == "Inscrições Equipe")
                        {
                            <div class="form-group" id="equipes-select">
                                <label for="participante-equipe" class="">Equipe</label>
                                <select class="form-control" id="participante-equipe">
                                    @foreach (var equipe in ViewBag.Equipes)
                                    {
                                        <option value="@equipe.Id">@equipe.Nome</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group vagas d-none">
                                <label for="participante-vagas" class="">Quantidade de Vagas?</label>
                                <input type="number" class="form-control" id="participante-vagas" data-field="Quantidade de Vagas" />
                            </div>
                        }

                        <div class="text-right">

                            <button type="button" class="btn btn-juventude pnl-cadastro" onclick="PostInscricao()">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
        background: @ViewBag.Configuracao.CorBotao !important;
        filter: brightness(0.8)
    }

    .dtp div.dtp-date, .dtp div.dtp-time {
         background: @ViewBag.Configuracao.CorBotao !important;
    }

     .dtp .btn-flat {
         background: @ViewBag.Configuracao.CorBotao !important;
         margin-left: 7px
    }

    .dtp .p10 > a, .dtp-actual-year {
        color: white !important;
    }

    .dtp table.dtp-picker-days tr > td > a.selected {
        background: @ViewBag.Configuracao.CorBotao !important;
    }


    .btn-confirmar {
        background-color: #23c6c8;
        border-color: #23c6c8;
        color: #FFFFFF;
    }

        .btn-confirmar:hover,
        .btn-confirmar:focus,
        .btn-confirmar:active,
        .btn-confirmar.active,
        .open .dropdown-toggle.btn-confirmar,
        .btn-confirmar:active:focus,
        .btn-confirmar:active:hover,
        .btn-confirmar.active:hover,
        .btn-confirmar.active:focus {
            background-color: #21b9bb !important;
            border-color: #21b9bb !important;
            color: #FFFFFF;
        }

        .btn-confirmar:active,
        .btn-confirmar.active,
        .open .dropdown-toggle.btn-confirmar {
            background-image: none;
        }

            .btn-confirmar.disabled,
            .btn-confirmar.disabled:hover,
            .btn-confirmar.disabled:focus,
            .btn-confirmar.disabled:active,
            .btn-confirmar.disabled.active,
            .btn-confirmar[disabled],
            .btn-confirmar[disabled]:hover,
            .btn-confirmar[disabled]:focus,
            .btn-confirmar[disabled]:active,
            .btn-confirmar.active[disabled],
            fieldset[disabled] .btn-confirmar,
            fieldset[disabled] .btn-confirmar:hover,
            fieldset[disabled] .btn-confirmar:focus,
            fieldset[disabled] .btn-confirmar:active,
            fieldset[disabled] .btn-confirmar.active {
                background-color: #26d7d9;
                border-color: #26d7d9;
            }


    .btn-cancelar {
        background-color: #ed5565;
        border-color: #ed5565;
        color: #FFFFFF;
    }

        .btn-cancelar:hover,
        .btn-cancelar:focus,
        .btn-cancelar:active,
        .btn-cancelar.active,
        .open .dropdown-toggle.btn-cancelar,
        .btn-cancelar:active:focus,
        .btn-cancelar:active:hover,
        .btn-cancelar.active:hover,
        .btn-cancelar.active:focus {
            background-color: #ec4758 !important;
            border-color: #ec4758 !important;
            color: #FFFFFF;
        }

        .btn-cancelar:active,
        .btn-cancelar.active,
        .open .dropdown-toggle.btn-cancelar {
            background-image: none;
        }

            .btn-cancelar.disabled,
            .btn-cancelar.disabled:hover,
            .btn-cancelar.disabled:focus,
            .btn-cancelar.disabled:active,
            .btn-cancelar.disabled.active,
            .btn-cancelar[disabled],
            .btn-cancelar[disabled]:hover,
            .btn-cancelar[disabled]:focus,
            .btn-cancelar[disabled]:active,
            .btn-cancelar.active[disabled],
            fieldset[disabled] .btn-cancelar,
            fieldset[disabled] .btn-cancelar:hover,
            fieldset[disabled] .btn-cancelar:focus,
            fieldset[disabled] .btn-cancelar:active,
            fieldset[disabled] .btn-cancelar.active {
                background-color: #ef6776;
                border-color: #ef6776;
            }


</style>

@section scripts {
    <script>
        var equipeCarona =  @ViewBag.Configuracao.EquipeCaronaId

    document.styleSheets[0].addRule('#loader-1:before,#loader-1:after ', `border-top-color: @ViewBag.Configuracao.CorBotao !important;`);
        $(window).on('load', function () {
            $(`input`).val("");

            $('#preloader').fadeOut();

            $('#participante-equipe').on('change', function () {
                if ($('#participante-equipe').val() == equipeCarona) {
                    $('.vagas').removeClass('d-none');
                    $("#participante-vagas").addClass('required');
                } else {
                    $('.vagas').addClass('d-none');
                    $("#participante-vagas").removeClass('required');
                }
            })

            var nome = localStorage.getItem('nome_cadastro')
            var email = localStorage.getItem('email_cadastro')
            $('#participante-email').val('@ViewBag.Email')
            if (nome && email && !$('#participante-email').val()) {

                var div = document.createElement("div");
                div.innerHTML = `

                                <h4 style="color:white" class="swal-text">Você é <strong>${nome}</strong>?</h4>
                <p style="color:white" class="swal-text">continuar inscrição com <strong>${email}</strong>?</p>
                `

                CustomSwal({
                    icon: `logo`,
                    content: div,
                    className: "button-center",
                    buttons: {
                        cancel: "Não",
                        confirm: "Sim"
                    }
                }).then(result => {
                    if (result) {
                        $('#participante-email').val(email)
                        $.blockUI({
                            css: {
                                backgroundColor: 'transparent',
                                border: 'none'
                            },
                            message: `<div class="spinner">
  <div style="background-color:${corBotao}" class="rect1"></div>
  <div style="background-color:${corBotao}" class="rect2"></div>
  <div style="background-color:${corBotao}" class="rect3"></div>
  <div style="background-color:${corBotao}" class="rect4"></div>
  <div style="background-color:${corBotao}" class="rect5"></div>
</div>`,
                            baseZ: 3500,
                            overlayCSS: {
                                opacity: 0.7,
                                cursor: 'wait'
                            }
                        });
                        VerificaCadastro()
                    }
                })
            }
        })

        var typingTimer;                //timer identifier
        var doneTypingInterval = 700;  //time in ms, 5 seconds for example
        var $input = $('#participante-email');

        $input.focus()
        //on keyup, start the countdown
        $input.on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(VerificaCadastro, doneTypingInterval);
        });

        //on keydown, clear the countdown
        $input.on('keydown', function () {
            clearTimeout(typingTimer);
        });

       var lat, lon;

       if ($('#map').length > 0) {
           const map = initMap('map')
           const markerLayer = createMarkerLayer(map)

           function verificaCep(input) {
               let cep = $(input).val()
               console.log(cep.length);
               if (cep.length == 9 && (userCountry == "Brazil")) {
                   $.blockUI({
                       css: {
                           backgroundColor: 'transparent',
                           border: 'none'
                       },
                       message: `<div class="spinner">
  <div style="background-color:${corBotao}" class="rect1"></div>
  <div style="background-color:${corBotao}" class="rect2"></div>
  <div style="background-color:${corBotao}" class="rect3"></div>
  <div style="background-color:${corBotao}" class="rect4"></div>
  <div style="background-color:${corBotao}" class="rect5"></div>
</div>`,
                       baseZ: 3500,
                       overlayCSS: {
                           opacity: 0.7,
                           cursor: 'wait'
                       }
                   });
                   $.ajax({
                       url: `https://api.sysigreja.com/api/cep/${cep.replaceAll('-', '')}`,
                       datatype: "json",
                       type: "GET",
                       contentType: 'application/json; charset=utf-8',
                       timeout: 3000,
                       error: function () {
                           $(`#participante-logradouro`).prop("disabled",false);
                           $(`#participante-bairro`).prop("disabled", false);
                           $(`#participante-cidade`).prop("disabled", false);
                           $(`#participante-estado`).prop("disabled", false);
                           $.unblockUI();
},
                       success: function (data) {
                           $(`#participante-logradouro`).prop("disabled", typeof (data.logradouro) == "string");
                           $(`#participante-logradouro`).val(data.logradouro)
                           $(`#participante-bairro`).prop("disabled", typeof (data.bairro) == "string");
                           $(`#participante-bairro`).val(data.bairro)
                           $(`#participante-cidade`).prop("disabled", typeof (data.localidade) == "string");
                           $(`#participante-cidade`).val(data.localidade)
                           $(`#participante-estado`).prop("disabled", typeof (data.uf) == "string");
                           $(`#participante-estado`).val(data.uf)
                           $(`#participante-latitude`).val(data.lat)
                           $(`#participante-longitude`).val(data.lon)
                           $.unblockUI();
                           markerLayer.getLayers().forEach(mark => mark.remove())
                           var marker = L.marker([data.lat, data.lon], {
                               icon: getIcon('vermelho'), draggable: true,
                               autoPan: true
                           }).addTo(markerLayer);
                           marker.on('moveend', function (event) {
                               $(`#participante-latitude`).val(event.target._latlng.lat)
                               $(`#participante-longitude`).val(event.target._latlng.lng)

                           });
                           $('#map').css('display', 'block')
                           map.setView([data.lat, data.lon], 18);
                           map.on('click', function (event) {
                               markerLayer.getLayers().forEach(mark => mark.remove())
                               var marker = L.marker([event.latlng.lat, event.latlng.lng], {
                                   icon: getIcon('vermelho'), draggable: true,
                                   autoPan: true
                               }).addTo(markerLayer);
                               marker.on('moveend', function (event) {
                                   $(`#participante-latitude`).val(event.latlng.lat)
                                   $(`#participante-longitude`).val(event.latlng.lng)

                               });
                           })
                       }
                   })
               } else if (cep.length == 7 && (userCountry != "Brazil")) {
                   $.blockUI({
                       css: {
                           backgroundColor: 'transparent',
                           border: 'none'
                       },
                       message: `<div class="spinner">
  <div style="background-color:${corBotao}" class="rect1"></div>
  <div style="background-color:${corBotao}" class="rect2"></div>
  <div style="background-color:${corBotao}" class="rect3"></div>
  <div style="background-color:${corBotao}" class="rect4"></div>
  <div style="background-color:${corBotao}" class="rect5"></div>
</div>`,
                       baseZ: 3500,
                       overlayCSS: {
                           opacity: 0.7,
                           cursor: 'wait'
                       }
                   });
                   $.ajax({
                       url: `https://api.sysigreja.com/postalcode/${cep.replaceAll('-', '')}`,
                       datatype: "json",
                       type: "GET",
                       contentType: 'application/json; charset=utf-8',
                       success: function (data) {
                           $(`#participante-logradouro`).prop("disabled", typeof (data.logradouro) == "string");
                           $(`#participante-logradouro`).val(data.logradouro)
                           $(`#participante-bairro`).prop("disabled", typeof (data.bairro) == "string");
                           $(`#participante-bairro`).val(data.bairro)
                           $(`#participante-cidade`).prop("disabled", typeof (data.localidade) == "string");
                           $(`#participante-cidade`).val(data.localidade)
                           $(`#participante-estado`).prop("disabled", typeof (data.uf) == "string");
                           $(`#participante-estado`).val(data.uf)
                           $(`#participante-latitude`).val(data.lat)
                           $(`#participante-longitude`).val(data.lon)
                           $.unblockUI();
                           markerLayer.getLayers().forEach(mark => mark.remove())
                           var marker = L.marker([data.lat, data.lon], {
                               icon: getIcon('vermelho'), draggable: true,
                               autoPan: true
                           }).addTo(markerLayer);
                           marker.on('moveend', function (event) {
                               $(`#participante-latitude`).val(event.target._latlng.lat)
                               $(`#participante-longitude`).val(event.target._latlng.lng)

                           });
                           $('#map').css('display', 'block')
                           map.setView([data.lat, data.lon], 18);
                           map.on('click', function (event) {
                               markerLayer.getLayers().forEach(mark => mark.remove())
                               var marker = L.marker([event.latlng.lat, event.latlng.lng], {
                                   icon: getIcon('vermelho'), draggable: true,
                                   autoPan: true
                               }).addTo(markerLayer);
                               marker.on('moveend', function (event) {
                                   $(`#participante-latitude`).val(event.latlng.lat)
                                   $(`#participante-longitude`).val(event.latlng.lng)

                               });
                           })
                       }
                   })
               }
           }
       }

        function VerificaCadastro() {
            if (IsEmail($(`#participante-email`).val())) {


               $.ajax({
                   url: "/Inscricoes/VerificaCadastro",
                   datatype: "json",
                   type: "POST",
                   contentType: 'application/json; charset=utf-8',
                   data: JSON.stringify({
                       Email: $(`#participante-email`).val(),
                       Tipo: '@ViewBag.Tipo'.includes('Equipe') ? "Inscrições Equipe" : "Inscrições",
                       eventoId: @ViewBag.EventoId
                   }),
                   success: function (data) {
                       if (data.MontagemNegado) {
                       $.unblockUI();

                            var div = document.createElement("div");

                            div.innerHTML = `<div><span>Não será poossível prosseguir seu cadastro pois seu email não consta na nossa lista de montagem</span> </div>`
                            CustomSwal({
                                title: "Inscrição Negada",
                                icon: `logo`,
                                content: div,
                                className: "button-center",
                                dangerMode: true,
                                buttons: {
                                    confirmar: {
                                        text: "OK",
                                        value: true,
                                        className: "w-150 btn-confirmar"
                                    },

                                }
                            }).then(result => {
                                window.location.href = window.location.origin;
                            })
                       } else {
                           if (data.Url) {
                               window.location.href = data.Url;
                           } else if (data.Participante && typeof (data.Participante) != "string") {
                               if ('(@ViewBag.Tipo)'.includes('Equipe')) {
                                   $('#EquipanteId').val(data.Participante.Id)
                               }
                               $(`#participante-nome`).val(data.Participante.Nome);
                               $(`#participante-apelido`).val(data.Participante.Apelido);
                               $("#participante-data-nascimento").val(moment(data.Participante.DataNascimento, 'DD/MM/YYYY').format('DD/MM/YYYY'));
                               $(`#participante-email`).val(data.Participante.Email);
                               setNumber('participante-fone', data.Participante.Fone)
                               $(`#participante-nome-pai`).val(data.Participante.NomePai);
                               setNumber('participante-fone-pai', data.Participante.FonePai)
                               $(`#participante-nome-mae`).val(data.Participante.NomeMae);
                               setNumber('participante-fone-mae', data.Participante.FoneMae)
                               $(`#participante-nome-convite`).val(data.Participante.NomeConvite);
                               setNumber('participante-fone-convite', data.Participante.FoneConvite)
                               $(`#participante-nome-contato`).val(data.Participante.NomeContato);
                               setNumber('participante-fone-contato', data.Participante.FoneContato)
                               $(`#participante-restricaoalimentar`).val(data.Participante.RestricaoAlimentar);
                               $(`#participante-medicacao`).val(data.Participante.Medicacao);
                               $(`#participante-alergia`).val(data.Participante.Alergia);
                               $(`input[type=radio][name=participante-sexo][value=${data.Participante.Sexo}]`).iCheck('check');
                               $(`input[type=radio][name=participante-hasalergia][value=${data.Participante.HasAlergia}]`).iCheck('check');
                               $(`input[type=radio][name=participante-hasmedicacao][value=${data.Participante.HasMedicacao}]`).iCheck('check');
                               $(`input[type=radio][name=participante-hasrestricaoalimentar][value=${data.Participante.HasRestricaoAlimentar}]`).iCheck('check');
                               $('.dados-participante-contato').removeClass('d-none');
                               $('.dados-participante-contato input[id*="nome"]').addClass('required');
                               $('.dados-participante-contato input[id*="fone"]').addClass('fone');
                               if (data.Montagem) {
                                   $('#equipes-select').remove()
                               }
                               $.unblockUI();
                           }

                           if ($('#participante-cep').val()) {
                               verificaCep($('#participante-cep')[0])
                           }


                       }



                   }
               })
            }
        }

        $(document).ready(() => {
            $('.i-checks-green').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $('.i-checks-brown').iCheck({
                checkboxClass: 'icheckbox_square-brown',
                radioClass: 'iradio_square-brown'
            });


            $('#has-medicacao').on('ifChecked', function (event) {
                $('.medicacao').removeClass('d-none');
                $("#participante-medicacao").addClass('required');
            });

            $('#not-medicacao').on('ifChecked', function (event) {
                $('.medicacao').addClass('d-none');
                $("#participante-medicacao").removeClass('required');
            });

            $('#has-parente').on('ifChecked', function (event) {
                $('.parente').removeClass('d-none');
                $("#participante-parente").addClass('required');
            });

            $('#not-parente').on('ifChecked', function (event) {
                $('.parente').addClass('d-none');
                $("#participante-parente").removeClass('required');
            });

            $('#participante-congregacao').on('change', function (event) {

                if (event.target.value == "Outra") {
                    $('.congregacao').removeClass('d-none');
                    $("#participante-congregacaodescricao").addClass('required');

                } else {
                    $('.congregacao').addClass('d-none');
                    $("#participante-congregacaodescricao").removeClass('required');
                }

            })

            $('#outra').on('ifChecked', function (event) {
                $('.congregacao').removeClass('d-none');
                $("#participante-congregacaodescricao").addClass('required');
            });


            $('#has-alergia').on('ifChecked', function (event) {
                $('.alergia').removeClass('d-none');
                $("#participante-alergia").addClass('required');
            });

            $('#not-alergia').on('ifChecked', function (event) {
                $('.alergia').addClass('d-none');
                $("#participante-alergia").removeClass('required');
            });

            $('#has-restricaoalimentar').on('ifChecked', function (event) {
                $('.restricaoalimentar').removeClass('d-none');
                $("#participante-restricaoalimentar").addClass('required');
            });

            $('#not-restricaoalimentar').on('ifChecked', function (event) {
                $('.restricaoalimentar').addClass('d-none');
                $("#participante-restricaoalimentar").removeClass('required');
            });

            $('#has-convenio').on('ifChecked', function (event) {
                $('.convenio').removeClass('d-none');
                $("#participante-convenio").addClass('required');
                $("#participante-hospitais").addClass('required');
            });

            $('#is-casado').on('ifChecked', function (event) {
                $('.casado').removeClass('d-none');
                $("#participante-data-casamento").addClass('required');
            });

            $('#not-convenio').on('ifChecked', function (event) {
                $('.convenio').addClass('d-none');
                $("#participante-convenio").removeClass('required');
                $("#participante-hospitais").removeClass('required');
            });

            $('#not-casado').on('ifChecked', function (event) {
                $('.casado').addClass('d-none');
                $("#participante-data-casamento").removeClass('required');
            });

            if ($('#participante-email').val()) {
                VerificaCadastro()
            }
        });

        var evento = null
        function PostInscricao() {
            $('.btn-juventude').prop('disabled', true)
            if (ValidateForm(`#form-inscricao`)) {

                if ('(@ViewBag.Tipo)'.includes('Equipe')) {
                    executePostInscricao()
                } else {
                    $.ajax({
                        url: "/Inscricoes/VerificaCadastro",
                        datatype: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            Email: '@ViewBag.Tipo'.includes('Equipe') ? $(`#participante-fone`).val() : $(`#participante-email`).val(),
                            Tipo: '@ViewBag.Tipo'.includes('Equipe') ? "Inscrições Equipe" : "Inscrições",
                            eventoId: @ViewBag.EventoId
                       }),
                        success: function (data) {
                            evento = data.Evento
                            if (data.Participante && typeof (data.Participante) == "string") {

                                var div = document.createElement("div");

                                div.innerHTML = `<div><span>Já existe uma inscrição para o ${'(@ViewBag.Tipo)'.includes('Equipe') ? `telefone <strong>${$(`#participante-fone`).val()}</strong>` : `email <strong>${$(`#participante-email`).val()}</strong>`} no nome de <strong>${data.Participante}</strong> para o <strong>${data.Evento}</strong>. Prosseguir irá substituir a inscrição existente. Deseja continuar?</span> </div>`
                                CustomSwal({
                                    title: "Inscrição Duplicada",
                                    icon: `logo`,
                                    content: div,
                                    className: "button-center",
                                    dangerMode: true,
                                    buttons: {
                                        cancelar: {
                                            text: "Cancelar",
                                            value: false,
                                            className: "w-150 btn-cancelar"
                                        },
                                        confirmar: {
                                            text: "Seguinte",
                                            value: true,
                                            className: "w-150 btn-confirmar"
                                        },

                                    }
                                }).then(result => {
                                    if (result) {
                                        executePostInscricao()
                                    } else {
                                        $("body").scrollTop(0);
                                        $('.btn-juventude').prop('disabled', false)
                                    }
                                })
                            } else {
                                executePostInscricao()
                            }

                        }
                    })
                }
            } else {
                $('.btn-juventude').prop("disabled", false);
            }
        }

        function mostrarTermo() {
            if ($('#lertermo').text() == 'Ocultar o termo') {
                $('#termo').css('display', 'none')
                $('#lertermo').text('Ler o termo')
            } else {

            $('#termo').css('display', 'block')
            $('#lertermo').text('Ocultar o termo')
            }
        }

        function executePostInscricao() {

            localStorage.setItem('email_cadastro', $('#participante-email').val())
            localStorage.setItem('nome_cadastro', $('#participante-nome').val())

            @if (ViewBag.Evento.Numeracao > 0) {

                @:evento = '@(ViewBag.Evento.Numeracao)º @ViewBag.Configuracao.Titulo'
            } else
            {
                @:evento = '@ViewBag.Configuracao.Titulo'
            }


            var div = document.createElement("div");

            div.innerHTML = `<div><h4><strong>${$('#participante-nome').val()}</strong></h4> <p>Ao confirmar sua inscrição, você concorda que o <strong>${evento}</strong> proceda com o tratamento de seus dados.</p>

    <div id="termo" style="display:none">
    <p>Entende-se por tratamento de acordo com o artigo 5º inciso X, a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.</p>
    <p>A Controladora responsabiliza-se pela manutenção de medidas de segurança, técnicas e administrativas aptas a proteger os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito.</p>
    </div>
    <a id="lertermo" style="cursor: pointer;
    font-size: 12px;
    text-decoration: underline;" onclick="mostrarTermo()">Ler o termo</a>
    </div>`
            CustomSwal({
                title: "Confirmar Inscrição",
                icon: "logo",
                content: div,
                className: "button-center",
                dangerMode: true,
                buttons: {
                    cancelar: {
                        text: "Cancelar",
                        value: false,
                        className: "btn-cancelar w-150 btn-cancelar"
                    },
                    confirmar: {
                        text: "Li e confirmo",
                        value: true,
                        className: "btn-confirmar w-150 btn-confirmar"
                    },


                }
            }).then(result => {
                if (result) {


                    $.ajax({
                        url: '(@ViewBag.Tipo)'.includes('Equipe') ? "/Equipante/PostEquipante/" : "/Inscricoes/PostInscricao/",
                        datatype: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(
                            {
                                Inscricao: true,
                                EventoId: @ViewBag.EventoId,
                                Id: '(@ViewBag.Tipo)'.includes('Equipe') ? $('#EquipanteId').val() : 0,
                                Nome: $(`#participante-nome`).val(),
                                Apelido: $(`#participante-apelido`).val(),
                                DataNascimento: moment($("#participante-data-nascimento").val(), 'DD/MM/YYYY', 'pt-br').toJSON(),
                                Email: $(`#participante-email`).val(),
                                Fone: getNumber('participante-fone'),
                                Camisa: $(`#participante-camisa`).val(),
                                CEP: $(`#participante-cep`).val(),
                                Congregacao: $('#participante-congregacao').val() != "Outra" ? $('#participante-congregacao').val() : $(`#participante-congregacaodescricao`).val(),
                                Logradouro: $(`#participante-logradouro`).val(),
                                Bairro: $(`#participante-bairro`).val(),
                                Cidade: $(`#participante-cidade`).val(),
                                EquipeId: $('#participante-equipe').val(),
                                Estado: $(`#participante-estado`).val(),
                                Numero: $(`#participante-numero`).val(),
                                Complemento: $(`#participante-complemento`).val(),
                                Conjuge: $(`#participante-conjuge`).val(),
                                Referencia: $(`#participante-referencia`).val(),
                                Latitude: $(`#participante-latitude`).val(),
                                Longitude: $(`#participante-longitude`).val(),
                                Vagas: $('#participante-vagas').val(),
                                HasRestricaoAlimentar: $("input[type=radio][name=participante-hasrestricaoalimentar]:checked").data('valor'),
                                RestricaoAlimentar: $(`#participante-restricaoalimentar`).val(),
                                HasMedicacao: $("input[type=radio][name=participante-hasmedicacao]:checked").data('valor'),
                                Medicacao: $(`#participante-medicacao`).val(),
                                HasAlergia: $("input[type=radio][name=participante-hasalergia]:checked").data('valor'),
                                Alergia: $(`#participante-alergia`).val(),
                                HasConvenio: $("input[type=radio][name=participante-hasconvenio]:checked").data('valor'),
                                Convenio: $(`#participante-convenio`).val(),
                                Hospitais: $(`#participante-hospitais`).val(),
                                IsCasado: $("input[type=radio][name=participante-iscasado]:checked").data('valor'),
                                DataCasamento: moment($("#participante-data-casamento").val(), 'DD/MM/YYYY', 'pt-br').toJSON(),
                                Sexo: $("input[type=radio][name=participante-sexo]:checked").data('valor'),
                                NomePai: $(`#participante-nome-pai`).val(),
                                FonePai: getNumber('participante-fone-pai'),
                                NomeMae: $(`#participante-nome-mae`).val(),
                                FoneMae: getNumber('participante-fone-mae'),
                                NomeConvite: $(`#participante-nome-convite`).val(),
                                FoneConvite: getNumber('participante-fone-convite'),
                                NomeContato: $(`#participante-nome-contato`).val(),
                                FoneContato: getNumber('participante-fone-contato'),
                            }),
                        success: function (url) {
                            window.location.href = url;
                        },
                        error: function () {
                            $("body").scrollTop(0);
                            $('.btn-juventude').prop("disabled", false);
                        }
                    });
                } else {
                    $("body").scrollTop(0);
                    $('.btn-juventude').prop('disabled', false)
                }
            })
        }


       $("#participante-email").on('keypress', function (e) {
           if (e.which == 13) {
               VerificaCadastro()
           }
       });


    </script>

}