@using System.Collections.Generic;
@using System.Linq;
@using Utils.Enums;
@using Utils.Extensions;
@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<div class="middle-box inscricoes animated fadeInDown " style="display: flex">


    <div style="margin:auto;width:95%">


        <div class="row justify-content-center p-sm">
            <div class="col col-12">
                <div class="p-h-xs m-b-lg" id="form-inscricao">
                    <input type="hidden" name="EquipanteId" id="EquipanteId" value="0" />
                    <div class="form-group">
                        @if (ViewBag.Tipo.Contains("Equipe"))
                        {
                            <label for="participante-email" class="">Telefone do @ViewBag.Sujeito</label>
                            <div style="position:relative">
                                <i style="position: absolute; top: 10px; font-size: 16px; right: 10px; cursor: pointer;" onclick="VerificaCadastro()" class="fas fa-search"></i>
                                <input type="text" class="form-control fone" id="participante-fone" data-field="Telefone do @ViewBag.Sujeito" />
                            </div>

                        }
                        else
                        {
                    <label for="participante-email" class="">Digite o e-mail do @ViewBag.Sujeito</label>
                            <div style="position:relative">
                                <i style="position: absolute; top: 10px; font-size: 16px; right: 10px; cursor: pointer;" onclick="VerificaCadastro()" class="fas fa-search"></i>
                                <input type="email" class="form-control" name="email" id="participante-email" data-field="E-mail" />
                            </div>

                        }
                    </div>
                    <div class="pnl-cadastro">
                        @if (ViewBag.Campos.Contains(CamposEnum.Nome.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome" class="">Nome e sobrenome do @ViewBag.Sujeito</label>
                                <input type="text" class="form-control required" id="participante-nome" name="name" data-field="Nome" value="@ViewBag.Nome" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Apelido.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-apelido" class="">Como o @ViewBag.Sujeito gostaria de ser chamado no @ViewBag.Configuracao.Titulo?</label>
                                <input type="text" class="form-control required" id="participante-apelido" name"nickname" data-field="Apelido" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Genero.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-sexo" class=" block">Gênero do @ViewBag.Sujeito</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="sexo-masculino" checked="" value="1" name="participante-sexo"> <i></i> Masculino </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="sexo-feminino" value="2" name="participante-sexo"> <i></i> Feminino </label></div>
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.DataNascimento.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-data-nascimento" class="">Data de nascimento do @ViewBag.Sujeito</label>
                                <input type="text" class="form-control full-date required" id="participante-data-nascimento" data-idade="17" data-field="Data de nascimento" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Fone.GetDescription()))
                        {
                            if (ViewBag.Tipo.Contains("Equipe"))
                            {
                                <div class="form-group">
                                    <label for="participante-email" class="">Digite o e-mail do @ViewBag.Sujeito</label>
                                    <input type="email" class="form-control" name="email" id="participante-email" data-field="E-mail" />
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label for="participante-fone" class="">Telefone do @ViewBag.Sujeito</label>
                                    <input type="text" class="form-control fone" id="participante-fone" data-field="Telefone do participante" />
                                </div>

                            }

                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Conjuge.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-conjuge" class="">Cônjuge</label>
                                <input type="text" class="form-control required" id="participante-conjuge" data-field="Cônjuge" value="@ViewBag.Conjuge" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Instagram.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-instagram" class="">Instagram do @ViewBag.Sujeito</label>
                                <input type="text" class="form-control" id="participante-instagram" data-field="Instagram do @ViewBag.Sujeito" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Camisa.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-fone" class="">Tamanho da camisa</label>
                                <select class="form-control" id="participante-camisa">
                                    <option value="PP">PP</option>
                                    <option value="P">P</option>
                                    <option value="M">M</option>
                                    <option value="G">G</option>
                                    <option value="GG">GG</option>
                                    <option value="XGG">XGG</option>
                                </select>
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Endereco.GetDescription()))
                        {
                            <div class="row justify-content-center">
                                <div class="col col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-cep" class="">CEP</label>
                                        <input type="text" class="form-control required cep" id="participante-cep" data-field="CEP" value="@ViewBag.CEP" onkeyup="verificaCep(this)" />
                                        <input type="hidden" id="participante-latitude" />
                                        <input type="hidden" id="participante-longitude" />
                                    </div>
                                </div>
                                <div class="col col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-logradouro" class="">Logradouro</label>
                                        <input type="text" class="form-control required" disabled id="participante-logradouro" data-field="Logradouro" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-bairro" class="">Bairro</label>
                                        <input type="text" class="form-control required" disabled id="participante-bairro" data-field="Bairro" />
                                    </div>
                                </div>
                                <div class="col col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-cidade" class="">Cidade</label>
                                        <input type="text" class="form-control required" disabled id="participante-cidade" data-field="Cidade" />
                                    </div>
                                </div>
                                <div class="col col-md-2 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-estado" class="">Estado</label>
                                        <input type="text" class="form-control required" disabled id="participante-estado" data-field="Estado" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-numero" class="">Número</label>
                                        <input type="text" class="form-control" id="participante-numero" value="@ViewBag.Numero" data-field="Número" />
                                    </div>
                                </div>
                                <div class="col col-md-8 col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-complemento" class="">Complemento</label>
                                        <input type="text" class="form-control" id="participante-complemento" value="@ViewBag.Complemento" data-field="Complemento" />
                                    </div>
                                </div>

                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-sm-12">
                                    <div class="form-group">
                                        <label for="participante-referencia" class="">Ponto de referência</label>
                                        <input type="text" class="form-control" id="participante-referencia" value="@ViewBag.Referencia" data-field="Ponto de referência" />
                                    </div>
                                    <div class="form-group">
                                        <div id="map" style="height:300px;display:none">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Mae.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-mae" class="">Nome da mãe</label>
                                <input type="text" class="form-control required" id="participante-nome-mae" data-field="Nome da mãe" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-mae" class="">Telefone da mãe</label>
                                <input type="text" class="form-control fone" id="participante-fone-mae" data-field="Telefone da mãe" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Pai.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-pai" class="">Nome do pai</label>
                                <input type="text" class="form-control required" id="participante-nome-pai" data-field="Nome do pai" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-pai" class="">Telefone do pai</label>
                                <input type="text" class="form-control fone" id="participante-fone-pai" data-field="Telefone do pai" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Contato.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-contato" class="">Pessoa de contato</label>
                                <input type="text" class="form-control required" id="participante-nome-contato" data-field="Pessoa de contato" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-contato" class="">Telefone do contato</label>
                                <input type="text" class="form-control fone" id="participante-fone-contato" data-field="Telefone do contato" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Convite.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-nome-convite" class="">Quem lhe fez o convite?</label>
                                <input type="text" class="form-control required" id="participante-nome-convite" value="@ViewBag.NomeConvite" data-field="Quem lhe fez o convite?" />
                            </div>
                            <div class="form-group">
                                <label for="participante-fone-convite" class="">Telefone de quem lhe fez o convite</label>
                                <input type="text" class="form-control fone" id="participante-fone-convite" value="@ViewBag.FoneConvite" data-field="Telefone de quem lhe fez o convite" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Parente.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasparente" class=" block">Tem algum parente fazendo o @ViewBag.Configuracao.Titulo?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-parente" value="true" name="participante-hasparente"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-parente" checked="" value="false" name="participante-hasparente"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group parente d-none">
                                <label for="participante-parente" class="">Nome do parente</label>
                                <input type="text" class="form-control" id="participante-parente" data-field="Nome do parente" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Congregacao.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-congregacao" class=" block">Participa de qual congregação?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="trindade" checked="" value="Trindade" name="participante-congregacao"> <i></i> Trindade </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="recon" value="Recon" name="participante-congregacao"> <i></i> Reconciliação </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="outra" value="Outra" name="participante-congregacao"> <i></i> Outra </label></div>
                            </div>
                            <div class="form-group congregacao d-none">
                                <label for="participante-congregacaodescricao" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-congregacaodescricao" data-field="Congregação" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Convenio.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasmedicacao" class=" block">Possui convênio médico?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-convenio" value="true" name="participante-hasconvenio"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-convenio" checked="" value="false" name="participante-hasconvenio"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group convenio d-none">
                                <label for="participante-convenio" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-convenio" data-field="Convênio" />
                                <label for="participante-hospitais" class="">Quais hospitais atendem?</label>
                                <input type="text" class="form-control" id="participante-hospitais" data-field="Hospitais" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Medicacao.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasmedicacao" class=" block">Toma alguma medicação?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-medicacao" value="true" name="participante-hasmedicacao"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-medicacao" checked="" value="false" name="participante-hasmedicacao"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group medicacao d-none">
                                <label for="participante-medicacao" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-medicacao" data-field="Medicação" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Alergia.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasalergia" class=" block">Tem alguma alergia?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-alergia" value="true" name="participante-hasalergia"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-alergia" checked="" value="false" name="participante-hasalergia"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group alergia d-none">
                                <label for="participante-alergia" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-alergia" data-field="Alergia" />
                            </div>
                        }
                        @if (ViewBag.Campos.Contains(CamposEnum.Restricao.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-hasrestricaoalimentar" class=" block">Tem alguma restrição alimentar?</label>
                                <div class="radio i-checks-brown inline"><label class=""> <input type="radio" id="has-restricaoalimentar" value="true" name="participante-hasrestricaoalimentar"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class=""> <input type="radio" id="not-restricaoalimentar" checked="" value="false" name="participante-hasrestricaoalimentar"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group restricaoalimentar d-none">
                                <label for="participante-restricaoalimentar" class="">Qual?</label>
                                <input type="text" class="form-control" id="participante-restricaoalimentar" data-field="Tem alguma restrição alimentar?" />
                            </div>
                        }

                        @if (ViewBag.Campos.Contains(CamposEnum.Equipe.GetDescription()))
                        {
                            <div class="form-group">
                                <label for="participante-fone" class="">Para qual equipe você foi relacionado?</label>
                                <select class="form-control" id="participante-equipe">
                                    <option value="0">Nenhuma</option>
                                    @foreach (var equipe in ViewBag.Equipes)
                                    {

                                        <option value="@equipe.Id">@equipe.Nome</option>
                                    }
                                </select>
                            </div>
                        }

                        <div class="text-right">

                            <button type="button" class="btn btn-juventude pnl-cadastro" onclick="PostInscricao()">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
       var lat, lon;

       if ($('#map').length > 0) {

           const map = initMap('map')
           const markerLayer = createMarkerLayer(map)

           function verificaCep(input) {
               let cep = $(input).val()
               if (cep.length == 9) {
                   $.blockUI({
                       css: {
                           backgroundColor: 'transparent',
                           border: 'none'
                       },
                       message: `<div class="spinner">
  <div style="background-color:${corBotao}" class="rect1"></div>
  <div style="background-color:${corBotao}" class="rect2"></div>
  <div style="background-color:${corBotao}" class="rect3"></div>
  <div style="background-color:${corBotao}" class="rect4"></div>
  <div style="background-color:${corBotao}" class="rect5"></div>
</div>`,
                       baseZ: 1500,
                       overlayCSS: {
                           opacity: 0.7,
                           cursor: 'wait'
                       }
                   });
                   $.ajax({
                       url: `https://api.iecbeventos.com.br/cep/${cep.replaceAll('-', '')}`,
                       datatype: "json",
                       type: "GET",
                       contentType: 'application/json; charset=utf-8',
                       success: function (data) {
                           $(`#participante-logradouro`).val(data.logradouro)
                           $(`#participante-bairro`).val(data.bairro)
                           $(`#participante-cidade`).val(data.localidade)
                           $(`#participante-estado`).val(data.uf)
                           $(`#participante-latitude`).val(data.lat)
                           $(`#participante-longitude`).val(data.lon)
                           $.unblockUI();
                           markerLayer.getLayers().forEach(mark => mark.remove())
                           var marker = L.marker([data.lat, data.lon], {
                               icon: getIcon('vermelho'), draggable: true,
                               autoPan: true
                           }).addTo(markerLayer);
                           marker.on('moveend', function (event) {
                               $(`#participante-latitude`).val(event.target._latlng.lat)
                               $(`#participante-longitude`).val(event.target._latlng.lng)

                           });
                           $('#map').css('display', 'block')
                           map.setView([data.lat, data.lon], 18);
                           map.on('click', function (event) {
                               markerLayer.getLayers().forEach(mark => mark.remove())
                               var marker = L.marker([event.latlng.lat, event.latlng.lng], {
                                   icon: getIcon('vermelho'), draggable: true,
                                   autoPan: true
                               }).addTo(markerLayer);
                               marker.on('moveend', function (event) {
                                   $(`#participante-latitude`).val(event.latlng.lat)
                                   $(`#participante-longitude`).val(event.latlng.lng)

                               });
                           })
                       }
                   })
               }
           }
       }

       function VerificaCadastro() {
           if ('@ViewBag.Tipo'.includes('Equipe') ? $('#participante-fone').val() : IsEmail($(`#participante-email`).val())) {
               AplicarCssPadrao($(`#participante-email`));
               $.ajax({
                   url: "/Inscricoes/VerificaCadastro",
                   datatype: "json",
                   type: "POST",
                   contentType: 'application/json; charset=utf-8',
                   data: JSON.stringify({
                       Email: '@ViewBag.Tipo'.includes('Equipe') ? $(`#participante-fone`).val() : $(`#participante-email`).val(),
                       Tipo: '@ViewBag.Tipo'.includes('Equipe') ? "Inscrições Equipe" : "Inscrições",
                       eventoId: window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1)
                   }),
                   success: function (data) {
                       if (data.Participante) {
                           if ('(@ViewBag.Tipo)'.includes('Equipe')) {
                               $('#EquipanteId').val(data.Participante.Id)
                           }
                           $(`#participante-nome`).val(data.Participante.Nome);
                           $(`#participante-apelido`).val(data.Participante.Apelido);
                           $("#participante-data-nascimento").val(moment(data.Participante.DataNascimento).format('DD/MM/YYYY'));
                           $(`#participante-email`).val(data.Participante.Email);
                           $(`#participante-fone`).val(data.Participante.Fone);
                           $(`#participante-nome-pai`).val(data.Participante.NomePai);
                           $(`#participante-fone-pai`).val(data.Participante.FonePai);
                           $(`#participante-nome-mae`).val(data.Participante.NomeMae);
                           $(`#participante-fone-mae`).val(data.Participante.FoneMae);
                           $(`#participante-nome-convite`).val(data.Participante.NomeConvite);
                           $(`#participante-fone-convite`).val(data.Participante.FoneConvite);
                           $(`#participante-nome-contato`).val(data.Participante.NomeContato);
                           $(`#participante-fone-contato`).val(data.Participante.FoneContato);
                           $(`#participante-restricaoalimentar`).val(data.Participante.RestricaoAlimentar);
                           $(`#participante-medicacao`).val(data.Participante.Medicacao);
                           $(`#participante-alergia`).val(data.Participante.Alergia);
                           $(`input[type=radio][name=participante-sexo][value=${data.Participante.Sexo}]`).iCheck('check');
                           $(`input[type=radio][name=participante-hasalergia][value=${data.Participante.HasAlergia}]`).iCheck('check');
                           $(`input[type=radio][name=participante-hasmedicacao][value=${data.Participante.HasMedicacao}]`).iCheck('check');
                           $(`input[type=radio][name=participante-hasrestricaoalimentar][value=${data.Participante.HasRestricaoAlimentar}]`).iCheck('check');
                           $('.dados-participante-contato').removeClass('d-none');
                           $('.dados-participante-contato input[id*="nome"]').addClass('required');
                           $('.dados-participante-contato input[id*="fone"]').addClass('fone');
                       }
                       else if (data) {
                           window.location.href = data;
                       }
                       if ($('#participante-cep').val()) {
                           verificaCep($('#participante-cep')[0])
                       }
                       $("#participante-email").prop("disabled", true)
                       $('.pnl-cadastro input').attr('disabled', false)
                       $('.pnl-cadastro select').attr('disabled', false)
                       $('.pnl-cadastro button').attr('disabled', false)

                       $('.i-checks-green').iCheck({
                           checkboxClass: 'icheckbox_square-green',
                           radioClass: 'iradio_square-green'
                       });

                       $('.i-checks-brown').iCheck({
                           checkboxClass: 'icheckbox_square-brown',
                           radioClass: 'iradio_square-brown'
                       });


                       $('#has-medicacao').on('ifChecked', function (event) {
                           $('.medicacao').removeClass('d-none');
                           $("#participante-medicacao").addClass('required');
                       });

                       $('#not-medicacao').on('ifChecked', function (event) {
                           $('.medicacao').addClass('d-none');
                           $("#participante-medicacao").removeClass('required');
                       });

                       $('#has-parente').on('ifChecked', function (event) {
                           $('.parente').removeClass('d-none');
                           $("#participante-parente").addClass('required');
                       });

                       $('#not-parente').on('ifChecked', function (event) {
                           $('.parente').addClass('d-none');
                           $("#participante-parente").removeClass('required');
                       });

                       $('#trindade').on('ifChecked', function (event) {
                           $('.congregacao').addClass('d-none');
                           $("#participante-congregacaodescricao").removeClass('required');
                       });

                       $('#recon').on('ifChecked', function (event) {
                           $('.congregacao').addClass('d-none');
                           $("#participante-congregacaodescricao").removeClass('required');
                       });

                       $('#outra').on('ifChecked', function (event) {
                           $('.congregacao').removeClass('d-none');
                           $("#participante-congregacaodescricao").addClass('required');
                       });


                       $('#has-alergia').on('ifChecked', function (event) {
                           $('.alergia').removeClass('d-none');
                           $("#participante-alergia").addClass('required');
                       });

                       $('#not-alergia').on('ifChecked', function (event) {
                           $('.alergia').addClass('d-none');
                           $("#participante-alergia").removeClass('required');
                       });

                       $('#has-restricaoalimentar').on('ifChecked', function (event) {
                           $('.restricaoalimentar').removeClass('d-none');
                           $("#participante-restricaoalimentar").addClass('required');
                       });

                       $('#not-restricaoalimentar').on('ifChecked', function (event) {
                           $('.restricaoalimentar').addClass('d-none');
                           $("#participante-restricaoalimentar").removeClass('required');
                       });

                       $('#has-convenio').on('ifChecked', function (event) {
                           $('.convenio').removeClass('d-none');
                           $("#participante-convenio").addClass('required');
                           $("#participante-hospitais").addClass('required');
                       });

                       $('#not-convenio').on('ifChecked', function (event) {
                           $('.convenio').addClass('d-none');
                           $("#participante-convenio").removeClass('required');
                           $("#participante-hospitais").removeClass('required');
                       });


                       $('.pnl-cadastro input').first().focus()

                   }
               })
           } else {
               AplicarCssErro($(`#participante-email`));
               ErrorMessage(`Erros de Formatação:
Email: exemplo@provedor.com.br`);
           }

       }

       function PostInscricao() {
           if (ValidateForm(`#form-inscricao`)) {
               $.ajax({
                   url: '(@ViewBag.Tipo)'.includes('Equipe') ? "/Equipante/PostEquipante/" : "/Inscricoes/PostInscricao/",
                   datatype: "json",
                   type: "POST",
                   contentType: 'application/json; charset=utf-8',
                   data: JSON.stringify(
                       {
                           Inscricao: true,
                           EventoId: @ViewBag.EventoId,
                           Id: '(@ViewBag.Tipo)'.includes('Equipe') ? $('#EquipanteId').val() : 0,
                           Nome: $(`#participante-nome`).val(),
                           Apelido: $(`#participante-apelido`).val(),
                           Instagram: $('#participante-instagram').val(),
                           DataNascimento: moment($("#participante-data-nascimento").val(), 'DD/MM/YYYY', 'pt-br').toJSON(),
                           Email: $(`#participante-email`).val(),
                           Fone: $(`#participante-fone`).val(),
                           Instagram: $(`#participante-instagram`).val(),
                           Camisa: $(`#participante-camisa`).val(),
                           Profissao: $(`#participante-profissao`).val(),
                           CEP: $(`#participante-cep`).val(),
                           Logradouro: $(`#participante-logradouro`).val(),
                           Bairro: $(`#participante-bairro`).val(),
                           Cidade: $(`#participante-cidade`).val(),
                           EquipeId: $('#participante-equipe').val(),
                           Estado: $(`#participante-estado`).val(),
                           Numero: $(`#participante-numero`).val(),
                           Complemento: $(`#participante-complemento`).val(),
                           Conjuge: $(`#participante-conjuge`).val(),
                           Referencia: $(`#participante-referencia`).val(),
                           Latitude: $(`#participante-latitude`).val(),
                           Longitude: $(`#participante-longitude`).val(),
                           HasRestricaoAlimentar: $("input[type=radio][name=participante-hasrestricaoalimentar]:checked").val(),
                           RestricaoAlimentar: $(`#participante-restricaoalimentar`).val(),
                           HasMedicacao: $("input[type=radio][name=participante-hasmedicacao]:checked").val(),
                           Medicacao: $(`#participante-medicacao`).val(),
                           HasAlergia: $("input[type=radio][name=participante-hasalergia]:checked").val(),
                           Alergia: $(`#participante-alergia`).val(),
                           HasConvenio: $("input[type=radio][name=participante-hasconvenio]:checked").val(),
                           Convenio: $(`#participante-convenio`).val(),
                           Hospitais: $(`#participante-hospitais`).val(),
                           Sexo: $("input[type=radio][name=participante-sexo]:checked").val(),
                           NomePai: $(`#participante-nome-pai`).val(),
                           FonePai: $(`#participante-fone-pai`).val(),
                           NomeMae: $(`#participante-nome-mae`).val(),
                           FoneMae: $(`#participante-fone-mae`).val(),
                           NomeConvite: $(`#participante-nome-convite`).val(),
                           FoneConvite: $(`#participante-fone-convite`).val(),
                           NomeContato: $(`#participante-nome-contato`).val(),
                           FoneContato: $(`#participante-fone-contato`).val(),
                       }),
                   success: function (url) {
                       window.location.href = url;
                   }
               });
           }
       }

       $('.pnl-cadastro input').attr('disabled', true)
       $('.pnl-cadastro select').attr('disabled', true)
       $('.pnl-cadastro button').attr('disabled', true)


       $("#participante-email").on('keypress', function (e) {
           if (e.which == 13) {
               VerificaCadastro()
           }
       });


    </script>

}