@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<style>
    body, h1, h2, h3, h4, h5, h6, span, p {
        text-align: center !important;
    }
</style>
<div class="icon-check-evento" style="position: absolute; z-index: 1000; left: 50%; height: 82px; padding: 13px; border-radius: 50%; top: 90px; left: 50%; transform: translateX(-50%);">
    <i class="fas fa-check" style="color:#fff;font-size:60px"></i>
</div>
<div class="middle-box inscricoes animated fadeInDown " style="display:flex;margin-top:60px;position:relative;border-radius:12px !important;padding-bottom:40px">
    <div class="row" style="margin:auto">

        <div class="cho-container"></div>

        <div class="col-sm-12 p-h-sm text-center">


            @Html.Raw(ViewBag.MsgConclusao)

            @if (!string.IsNullOrEmpty(ViewBag.Configuracao.PublicTokenMercadoPago))
            {
                <div id="wallet_container"></div>
            }

            @if (ViewBag.Reuniao != null)
            {
                <button type="button" class="btn btn-juventude pnl-cadastro" id="btn-presenca" onclick="SelfPresenca()">Marcar Presença</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const mp = new MercadoPago("@ViewBag.Configuracao.PublicTokenMercadoPago");

        window.onload = function () {
            mp.bricks().create("wallet", "wallet_container", {
                initialization: {
                    preferenceId: "@ViewBag.MercadoPagoPreferenceId",
                },
            });

        }



    </script>
  @if (ViewBag.Reuniao != null)
            {

        <script>

        function SelfPresenca() {
            $.ajax({
                url: "/Equipe/TogglePresenca/",
                datatype: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(
                    {
                        EquipanteEventoId: @ViewBag.EquipanteEvento.Id ,
                        ReuniaoId: @ViewBag.Reuniao.Id
                    }),
                success: function () {
                    $('#btn-presenca').css('display', 'none')
                    SuccessMesageOperation();
                }
            });
        }
        </script>
            }
}
