@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<div class="middle-box inscricoes animated fadeInDown " style="display:flex;margin:auto">
    <div class="row" style="margin:auto">
        <div class="col-sm-12">
            @if (ViewBag.Configuracao.LogoId != null)
            {
                <div class="row justify-content-center">
                    <div class="col-sm-offset-3 col-sm-6" style="display:flex">
                        <img style="max-width:100%;max-height:200px;margin:auto" alt="@ViewBag.Configuracao.Titulo" src="data:image/png;base64,@ViewBag.Configuracao.Logo" alt="Igreja Episcopal Carismática do Brasil" />
                    </div>

                </div>
            }
            <div style="margin:30px 30px 0 30px" class="row justify-content-center text-white text-center">
                <h3>"@ViewBag.Participante.Apelido"</h3>
                <h4>Obrigado por se inscrever no @ViewBag.Participante.Evento!</h4>
                <h4>Fica ligado que apenas o pagamento garante a sua vaga</h4>
                <h4>Nos vemos no dia @ViewBag.Participante.DataEvento! Até lá!</h4>
            </div>
        </div>

        <div class="col-sm-12 p-h-xs text-white text-center">
            <h4>Valor</h4>
            <h3 class="m-t-xs m-b-md">@ViewBag.Participante.Valor</h3>
            <div class="text-white text-center d-flex flex-column m-t-lg p-w-lg">
                <h5>Pagamentos no cartão: Após os cultos na Catedral da trindade</h5>
                <h5>Pagamento PIX chave Telefone:(81)9.9878-4767 - Everaldo Lemos Araujo</h5>

            </div>
            <h4 class="m-t-lg">Enviar comprovante ou dúvidas para:</h4>
            <h3 style="cursor:pointer;margin-top:0" onclick="window.open(`https://api.whatsapp.com/send?phone=@ViewBag.Participante.PadrinhoFone`)">
                @ViewBag.Participante.PadrinhoNome - @ViewBag.Participante.PadrinhoFone.Substring(3)
            </h3>
        </div>

    </div>
</div>
