@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<style>
    body, h1, h2, h3, h4, h5, h6, span, p {
        text-align: center !important;
    }
</style>
<div class="icon-check-evento" style="position: absolute; z-index: 1000; left: 50%; height: 82px; padding: 13px; border-radius: 50%; top: 15px; left: 50%; transform: translateX(-50%);">
    <i class="fas fa-check" style="color:#fff;font-size:60px"></i>
</div>
<div class="middle-box inscricoes animated fadeInDown " style="display:flex;margin-top:60px;position:relative;border-radius:12px !important;padding-bottom:40px">
    <div class="row" style="margin:auto">

        <div class="cho-container"></div>

        <div class="col-sm-12 p-h-sm text-center">
            <h2>@ViewBag.Participante.Nome</h2>
            @if (@ViewBag.Configuracao.TipoEvento == "Casais")
            {
                <h2>e @ViewBag.Casal.Nome</h2>
            }
            <p>O seu pagamento foi confirmado pelo @ViewBag.MeioPagamento, você receberá em seu e-mail cadastrado uma confirmação de sua inscrição e pagamento, além deste QR Code que deverá ser apresentado no momento do seu checkin.</p>
            <p>Em caso de dúvidas, procure a administração do evento.</p>

            <img style="width:50%" src="@ViewBag.QRCode" alt="QR Code" />
        </div>
    </div>
</div>



@section Scripts {


}
