@using System.Collections.Generic;
@using System.Linq;
@using Utils.Enums;
@using Utils.Extensions;
@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}


<img class="bg" src="/@ViewBag.Configuracao.Identificador/background" />

<div class="info-evento">
    <div class="title">@(ViewBag.Evento.Numeracao)º @ViewBag.Configuracao.Titulo</div>
    <div class="perfil-evento">
        <div class="icon">
            <i class="far fa-calendar"></i>
        </div>
        <div class="content">
            <p>@ViewBag.Evento.DataEvento.ToString("dd") de @ViewBag.Evento.DataEvento.ToString("MMMM") de @ViewBag.Evento.DataEvento.ToString("yyyy")</p>
        </div>
    </div>
    <div class="perfil-evento">
        <div class="icon">
            <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="content">
            <p>
                <a style="text-decoration: underline;" class="link-local" href="@ViewBag.Evento.LinkLocal" target="_blank">@ViewBag.Evento.NomeLocal</a>
            </p>
        </div>
    </div>
    <div class="perfil-evento">
        <div class="icon">
            <i class="fas fa-user"></i>
        </div>
        <div class="content">
            <p>
                de 15 a 18 anos
            </p>
        </div>
    </div>
</div>

<iframe style="border:0;" onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';" srcdoc="<div class='note-editor note-frame'><div class='note-editing-area'><div class='note-editable'>@Html.Raw(ViewBag.Evento.Conteudo.Replace("\"", "'"))</div></div></div><style>.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable { padding-right: 20px; } .note-editor.note-airframe, .note-editor.note-frame { border: 0 !important;} body {margin:0; font-family: ' open sans', 'Helvetica Neue' , Helvetica, Arial, sans-serif !important;} .note-editor {height: auto !important;}.note-editor.fullscreen {z-index: 2050;}.note-editor.note-frame.fullscreen {z-index: 2020;}.note-editor.note-frame .note-editing-area .note-editable {color: #676a6c;padding: 15px;}.note-editor.note-frame {border: none;}.note-editor.panel {margin-bottom: 0;}</style><link href='https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css' rel='stylesheet'>"></iframe>


<div class="fixed-footer">
    <a href="/Inscricoes/Inscricoes/@ViewBag.EventoId?Tipo=Inscrições" class="btn btn-juventude mt-5">Inscreva-se já</a>
</div>



<style>
    .bg {
        width: 100%;
    }

    .fixed-footer {
        border-top: 1px solid #dde0e4;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        border-radius: 0;
        z-index: 2;
        padding: 16px;
        display: flex;
        background: #fff;
    }

        .fixed-footer a {
            margin: 0 auto;
            width: 100%;
            font-size: 14px;
            letter-spacing: 0.5px;
            font-weight: 600;
        }

    .info-evento {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        border-bottom: 1px solid #dde0e4;
        left: 0;
        right: 0;
    }

        .info-evento .title {
            margin: 0 6px 6px;
            font-weight: bold;
            font-size: 20px;
            min-height: 30px;
            width: calc(100% - 12px);
        }

    .corpo-inscricoes {
        flex-direction: column;
        padding-left: 15px;
    }

    .perfil-evento {
        display: flex;
        gap: 5px;
        height: 40px;
        justify-content: center;
        align-items: center;
    }

        .perfil-evento .icon {
            width: 25px;
            padding-left: 8px;
            font-size: 15px;
            padding-top: 2px;
            color: #a5a6a7;
            display: flex;
        }

            .perfil-evento .icon i {
                margin: auto;
            }

        .perfil-evento .content {
            font-size: 0.875rem;
        }

            .perfil-evento .content p {
                margin: 0;
            }
</style>


@section scripts {
    <script>

        $(window).on('load', function () {
            $('#preloader').fadeOut();
        })
    </script>

}