@using Microsoft.AspNet.Identity
@using Utils.Constants;
@using Utils.Services

<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2CZ37FW7BZ"></script>
    @if (ViewContext.HttpContext.Request.Url.AbsoluteUri.ToLower().Contains("sysigreja"))
    {
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5078041564742726"
                crossorigin="anonymous"></script>
    }
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-2CZ37FW7BZ');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#c20935">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="SysIgreja">
    <link rel="icon" type="image/png" sizes="16x16" />
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SysIgreja">
    <link rel="manifest" href="~/manifest.json" />
    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/av01d/fontpicker-jquery-plugin@1.5/dist/jquery.fontpicker.min.css" integrity="sha256-urFh3EMgi9s3j3w+TsAP1TfUQiE0yUZmmLX7JRyvjqE=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
    @Scripts.Render("~/bundles/jquery")

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/pt-BR.js"></script>
    <script>
        $.fn.select2.defaults.set("theme", "bootstrap");
        $.fn.select2.defaults.set("language", "pt-BR");
        AajaxLoading = false
        Claims = {
            Eventos: [], Configuracooes: [], Login: {}, Usuario: {}
        }
        SelectedEvent = {}
        SelectedConfig = {}
        Login: { }
        xhrPopulate = undefined

        async function getClaims() {
            if (xhrPopulate) {
                promiseResult = await Promise.all(xhrPopulate)
                Claims = { Eventos: promiseResult[0].Eventos, Configuracoes: promiseResult[1].Configuracoes, Login: promiseResult[2].Login, Usuario: promiseResult[3].Usuario }
                SelectedEvent = Claims.Eventos.find(evento => evento.Id == localStorage.getItem('eventoId')) || Claims.Eventos[0]
                SelectedConfig = Claims.Configuracoes.find(config => config.Id == localStorage.getItem('configId')) || Claims.Configuracoes[0]
                Login = Claims.Login
                Usuario = Claims.Usuario
                return Claims
            }
            if (Claims.Eventos.length > 0 || Claims.Configuracooes.length > 0) {
                return Claims
            } else {
                xhrPopulate = [$.ajax(
                    {
                        type: "GET",
                        url: "/Evento/PopulateEventosByUser",
                    }),
                $.ajax(
                    {
                        type: "GET",
                        url: "/Evento/PopulateConfigByUser",
                    }),
                $.ajax(
                    {
                        type: "GET",
                        url: "/Evento/PopulateLogin",
                    }),
                $.ajax(
                    {
                        type: "GET",
                        url: "/Account/GetUsuarioLogado",
                    })
                ]

                promiseResult = await Promise.all(xhrPopulate)
                Claims = { Eventos: promiseResult[0].Eventos, Configuracoes: promiseResult[1].Configuracoes, Login: promiseResult[2].Login, Usuario: promiseResult[3].Usuario }
                SelectedEvent = Claims.Eventos.find(evento => evento.Id == localStorage.getItem('eventoId')) || Claims.Eventos[0]
                SelectedConfig = Claims.Configuracoes.find(config => config.Id == localStorage.getItem('configId')) || Claims.Configuracoes[0]
                Login = Claims.Login
                Usuario = Claims.Usuario


                return Claims
            }
        }



        $.holdReady(true);
        getClaims().then(() => $.holdReady(false))


        function verifyPermissionsConfig() {
            getClaims().then(claims => {
                if (claims.Configuracoes.length == 0) {
                    window.location.href = '/Account/NaoAutorizado'
                }
            })
        }


    </script>
    <!-- Add local styles, mostly for plugins css file -->

    @RenderSection("Styles", required: false)



    <style>

        #usuario-senha {
            color: black !important;
        }

        .password-click {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            border: none;
            background: transparent;
            outline: none;
            padding-top: 6px;
            padding-right: 20px;
        }

        .group-senha {
            position: relative;
        }

            .group-senha input {
                width: 100%;
            }



        .swal-icon--success, .swal-icon--warning, .swal-icon--error {
            border-color: white !important;
        }

        .swal-icon--success__line, .swal-icon--warning__body, .swal-icon--warning__dot, .swal-icon--error__line {
            background-color: white !important;
        }


        .swal-icon--success__hide-corners {
            background: transparent !important;
        }

        .swal-icon--success:before {
            background: transparent !important;
        }

        .swal-icon--success:after {
            background: transparent !important;
        }
    </style>


    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.1.0/css/fixedColumns.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.6/css/colReorder.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.3.0/css/rowGroup.dataTables.min.css" type="text/css" />

    <link rel="stylesheet" href="https://datatables.net/release-datatables/extensions/FixedHeader/css/fixedHeader.dataTables.css" type="text/css" />


    @Styles.Render("~/plugins/sweetalert")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/bundle/jasny")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.css" integrity="sha512-n/Uz0nm+qm1KbAOnqYOg9OihX5n1gFz2a+VyHoMSHOK6AdMSpH5Sak6yVI/cx721pUJarnwDHMkljOQrFOirTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" integrity="sha512-zxBiDORGDEAYDdKLuYU9X/JaJo/DPzE42UubfBw9yg8Qvb2YRRIQ8v4KsGHOx2H1/+sdSXyXxLXv5r7tHc9ygg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css"
          type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" integrity="sha512-gc3xjCmIy673V6MyOAZhIW93xhM9ei1I+gLbmFjUHIjocENRsLX/QUE1htk5q1XV2D/iie/VQ8DXI6Vu8bexvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">
        <span id="title" hidden>@ViewBag.Title</span>
        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->

            <div id="spa-content">
                <div id="body">
                    @RenderBody()
                </div>
            </div>

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->


    </div>
    <!-- End wrapper-->
    <!-- Section for main scripts render -->

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/imaskjs")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/util", true))
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/jasny")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Scripts/app/Util/mapa.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/av01d/fontpicker-jquery-plugin@1.5/dist/jquery.fontpicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/compressorjs/1.1.1/compressor.min.js" integrity="sha512-VaRptAfSxXFAv+vx33XixtIVT9A/9unb1Q8fp63y1ljF+Sbka+eMJWoDAArdm7jOYuLQHVx5v60TQ+t3EA8weA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js" integrity="sha512-LRkOtikKE2LFHPWiWh0/bfFynswxRwCZ5O7PkXTVFPcprw376xfOemiEHEOmCCmiwS6eLFUh2fb+Gqxc0waTSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/plugins/dataTables/datatable-config-v12.js"></script>
    <script src="~/Scripts/plugins/dataTables/vsfonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.3.0/js/dataTables.rowGroup.min.js"></script>
    <script src="https://datatables.net/release-datatables/extensions/FixedHeader/js/dataTables.fixedHeader.js"></script>

    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>


    <script src="https://cdn.datatables.net/colreorder/1.5.6/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script src="~/Scripts/app/Util/diacritics.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="https://malsup.github.io/jquery.blockUI.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
    <script>
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function (prefix) {
                return this.slice(0, prefix.length) == prefix;
            }
        }

        var clickCount = 0;
        var times = [new Date()];

        $(function () {
            $.ajaxSetup({ cache: false });

            initControls('body');

        });

        function initControls(context) {
            $('footer', context).css('color', 'red');
            initShortcuts(context);
            initForms(context);
            $('.title-user-equipante').text(Usuario.Nome)

        }

        function initShortcuts(context) {
            var elements = $('[data-shortcut]', context);
            elements.each(function () {
                var elem = $(this);
                var keys = elem.data('shortcut');
                shortcut.add(keys, function () {
                    if (elem.is('a')) {
                        elem[0].click();
                    }
                });
                elem.on('destroyed', function () {
                    shortcut.remove(keys);
                });
            });
        }

        function initForms(context) {
            var forms = $('form', context);
            forms.each(function () {
                var form = $(this);
                var submits = form.find('input[type=submit]');
                submits.click(function () {
                    var submit = $(this);
                    form.data('submit', submit.val());
                });
            });
        }

        function navigate(url) {
            var anchor = $('<a href="' + url + '"></a>');
            anchor.click(function (e) {
                if (linkClick != null) {
                    linkClick(e, $(this));
                }
            });
            anchor[0].click();
        }

        // clear interval timers
        var intervals = [];
        var oldSetInterval;
        // is not null after document.write
        if (oldSetInterval == null) {
            oldSetInterval = window.setInterval;
            window.setInterval = function (func, interval) {
                var id = oldSetInterval(func, interval);
                intervals.push(id);
            }
        }

        $.event.special.destroyed = {
            remove: function (e) {
                if (e.handler) {
                    e.handler.apply(this, arguments);
                }
            }
        }
    </script>
    <script>

        window.addEventListener("offline", (event) => {
            var div = document.createElement("div");

            div.innerHTML = `<div><span>Verifique sua internet</span> </div>`
            CustomSwal({
                title: "Você foi desconectado",
                icon: `logo`,
                content: div,
                className: "button-center",
                dangerMode: true,
                buttons: {
                    confirmar: {
                        text: "OK",
                        value: true,
                        className: "w-150 btn-confirmar"
                    },

                }
            }).then(result => {
                window.location.reload()
            })

        })

        const { jsPDF } = window.jspdf;
        var config = {}
        var campos = []
        let username = '@User.Identity.GetUserName()'
        $.fn.modal.Constructor.prototype.enforceFocus = function () { };
        $.fn.modal.Constructor.prototype._enforceFocus = function () { };


        $(document).ready(() => {
            Babel.transformScriptTags()
            tippy(`#side-menu li a:has(i)`, {
                content: '',
                allowHTML: true,
                followCursor: true, trigger: 'mouseenter',
                onTrigger: (instance, event) => {
                    if ($('body').hasClass("mini-navbar")) {
                        instance.setContent($(event.target).text())
                    }
                },
                onShow(instance) {
                    if (!$('body').hasClass("mini-navbar")) {
                        return false; // cancels it
                    }
                }
            });
            $(document).trigger('ready-ajax');
            if (Usuario.FotoId) {
                $('.img-avatar').attr('src', `/Arquivo/GetArquivo/${Usuario.FotoId}`)
            }
            consultarNotificacoes()
            setInterval(consultarNotificacoes, 60000)

            $('.menu-user, .menu-notification').on('click', (event) => {
                $(event.target).parent().find('.dropdown-content').css('display', 'block')
                if ($(event.target).parent().hasClass('menu-notification')) {
                    $('.fa-bell').css("color", "#1c84c6")
                    $.ajax({
                        url: "/Notificacao/SetNotificacoesLidas/",
                        datatype: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        success: function () {
                            $('#contador-notificacoes').css('display', 'none')
                        }
                    });
                } else {
                    $('.img-avatar ').css('opacity', 0.7)
                }
            })

            window.onclick = (event) => {
                if ($(event.target).parents('.dropdown-content').length == 0 && $(event.target).parent('.menu-user, .menu-notification').length == 0) {
                    $('.dropdown-content').css('display', 'none')
                    $('.img-avatar ').css('opacity', 1)
                    $('.fa-bell').css("color", "#676a6c")
                } else if ($('.menu-user .dropdown-content').css('display') == 'block' && $(event.target).parent('.menu-notification').length > 0) {
                    $('.menu-user .dropdown-content').css('display', 'none')
                    $('.img-avatar ').css('opacity', 1)
                } else if ($('.menu-notification .dropdown-content').css('display') == 'block' && $(event.target).parent('.menu-user').length > 0) {
                    $('.menu-notification .dropdown-content').css('display', 'none')
                    $('.fa-bell').css("color", "#676a6c")
                }
            }
        })

        $('body').on('DOMNodeInserted', '.swal-icon--custom', function () {


            $('.swal-icon--custom').replaceWith(`<img style="max-width: 60%;
                max-height: 150px;
                padding: 15px;" src="/Arquivo/GetArquivo/${SelectedEvent.LogoRelatorioId || Login.LogoId}">`)


        });

        $.extend($.fn.dataTable.defaults, {
            initComplete: function (settings, json) {
                tippy('[data-tippy-content]');
                $(settings.nTable).DataTable().on('draw', function () {
                    tippy('[data-tippy-content]');
                })
            }
        });


        let div = document.createElement("div");
        div.innerHTML = ` <div class="group-senha">
                                <input type="password" class="form-control required text-lowercase" id="usuario-senha" data-field="Senha" data-min-length="6" />
                                <button class="password-click" onmousedown='$("#usuario-senha").attr("type", "text");' onmouseup='$("#usuario-senha").attr("type", "password");' type="submit">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>`

        function changePass() {
            CustomSwal({
                title: "Mudança de senha",
                icon: "info",
                text: "Digite a nova senha",
                content: div,
                className: "button-center",
                buttons: ["Cancelar", "Confirmar"]
            }).then(result => {
                if (!$('#usuario-senha').val() || $('#usuario-senha').val().length < 6) {
                    ErrorMessage("A senha deve ter no mínimo 6 caracteres")
                } else {
                    $.ajax({
                        url: "/Account/ChangePass/",
                        datatype: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(
                            {
                                senha: $('#usuario-senha').val()
                            }),
                        success: function () {
                            SuccessMesageOperation();
                        }
                    });

                }

            })
        }

        $("#user-avatar-arquivo").change(function () {
            PostAvarUser();
        });

        function PostAvarUser() {

            var dataToPost = new FormData($('#frm-upload-avatar')[0]);
            dataToPost.set('Arquivo', dataToPost.get('user-avatar-arquivo'))

            $.ajax(
                {
                    processData: false,
                    contentType: false,
                    type: "POST",
                    data: dataToPost,
                    url: "/Arquivo/PostArquivo",
                    success: function (data) {
                        $.ajax(
                            {
                                datatype: "json",
                                type: "POST",
                                contentType: `application/json; charset=utf-8`,
                                url: `/Account/setAvatar`,
                                data: `{  arquivoId: ${data} }`,
                                success: function (data) {
                                    console.log(data);
                                    SuccessMesageOperation()

                                }
                            });
                    }
                });
        }

    </script>
    <script>
        $(function () {
            $(document).on('click', 'a', function (e) {
                linkClick(e, $(this));
            });

        });


        function linkClick(e, link) {
            if (e.isDefaultPrevented()) {
                return;
            }
            var action = link.attr('href');
            // '/#' is breadcrumb - left menu navigation
            if (action == null || action[0] != '/' || action.startsWith('/#')) {
                return;
            }
            e.preventDefault();
            spaLoad(action, "GET");
        };

        function spaLoad(action, type, data, pushHistory) {
            $.blockUI(blockOptions);
            abortAjax();
            $.ajax({
                url: action,
                type: type,
                dataType: 'html',
                data: data,
                success: function (response, status, xhr) {
                    renderPage(xhr, pushHistory);
                },
                error: function (xhr) {
                    // unauthorized or access denied
                    if (xhr.status === 401 || xhr.status === 403) {
                        return;
                    }

                    // ignore aborted requests
                    if (xhr.status === 0 || xhr.readyState === 0) {
                        return;
                    }
                    // mark status as handled/aborted
                    xhr.status = 0;
                    renderPage(xhr, pushHistory);
                }
            })
        }


        function renderPage(xhr, pushHistory) {
            AajaxLoading = true


            if (xhr.getResponseHeader("X-Responded-JSON") != null
                && JSON.parse(xhr.getResponseHeader("X-Responded-JSON")).status == "401") {
                window.location.href = JSON.parse(xhr.getResponseHeader("X-Responded-JSON")).headers.location
                return;
            }

            var naoAutorizado = xhr.getResponseHeader('NaoAutorizado');
            if (naoAutorizado) {
                window.location.href = '/Account/NaoAutorizado'
                return
            }
            // clear/reset js state
            clearIntervals();
            resetGlobalVariables();

            if (pushHistory == null || pushHistory == true) {

                // location will be null by custom asp.net error page
                var location = xhr.getResponseHeader('Location');
                history.pushState('', '', location);
                if (location == '/Participante/Casais' || location == "/Participante") {
                    location = 'participante-menu'
                }

                if (location == '/Equipante/Casais' || location == "/Equipante") {
                    location = 'equipante-menu'
                }
                $('#title').html(xhr.getResponseHeader('Title'))
                $('#side-menu').find('a').parent().removeClass('active');
                $('#side-menu .nav-second-level').removeClass('in');
                $('.fixedHeader-floating').remove()
                $('#side-menu').find(`a[href="${location}"], #${location.replaceAll('/', '')}`).parent().addClass('active');

                if ($('#side-menu').find(`a[href="${location}"], #${location.replaceAll('/', '')}`).parent().parent().parent().is('li')) {
                    $('#side-menu').find(`a[href="${location}"], #${location.replaceAll('/', '')}`).parent().parent().parent().addClass('active')
                    $('#side-menu').find(`a[href="${location}"], #${location.replaceAll('/', '')}`).parent().parent().addClass('in')
                }
            }

            // load document
            if (xhr.responseText.startsWith('<!DOCTYPE html>')) {
                // whole document is refreshed
                var newDocument = document.open('text/html');
                newDocument.write(xhr.responseText);
                newDocument.close();
            } else {
                $('#spa-content').html(xhr.responseText);
                // init new page
                Babel.transformScriptTags()
                initControls($('#spa-content'));
                initInputs()

                $.unblockUI();
                if ($('.select-config').length == 0 && $('.select-evento').length == 0) {
                    $(document).trigger('ready-ajax');
                }
            }
        }

        // history management
        $(function () {
            window.onpopstate = function () {
                var action = window.location.pathname + window.location.search;
                spaLoad(action, "GET", null, false);
            };

            $(document).ajaxSend(function (e, xhr) {
                xhrPool.push(xhr);
            });
            $(document).ajaxComplete(function (e, xhr) {
                xhrPool = $.grep(xhrPool, function (x) { return x != xhr; });
            });

            $(document).ajaxError(function (e, xhr) {

                if (xhr.status == 400) {
                    const res = xhr.responseJSON || JSON.parse(xhr.responseText)
                    if (res?.Message) {
                        let message = res?.Message
                        if (res.Message.toLowerCase().includes('reference constraint')) {
                            message = "Dados relacionados encontrados! Antes de prosseguir esvazie o registro ou entre em contato com o suporte"
                        }

                        ErrorMessage(message)
                    }
                }
            });
        });

        var xhrPool = [];
        var abortAjax = function () {
            $.each(xhrPool, function (idx, xhr) {
                xhr.abort();
            });
        };

        function resetGlobalVariables() {
            window.clickCount = 0;
            window.times = [];
        }

        function clearIntervals() {
            for (var i = 0; i < window.intervals?.length; i++) {
                window.clearInterval(window.intervals[i]);
            }
            window.intervals = [];
        }


    </script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/@("@")babel/standalone/babel.min.js"></script>

    <script>



        function defaultLogin() {
            $('link[rel="icon"]').attr('href', `/Armquivo/GetArquivo/${Login.LogoId}`)
            $('#home-button-logo img').attr('src', `/Arquivo/GetArquivo/${Login.LogoId}`)
            $('#home-button-logo').css('display', 'block')
            $('#img-logo').attr('src', `/Arquivo/GetArquivo/${Login.LogoId}`)
            $('title').text($('#title').text())
            $('.title-circulo').text("Equipe de Grupos")
        }

        function handleParticipantes(opt) {
            action = "/Participante"

            if (SelectedEvent.TipoEvento == "Casais") {
                action = "/Participante/Casais"
            }
            if ((opt !== undefined && opt != (SelectedEvent.TipoEvento == "Casais") || opt == undefined)) {
                spaLoad(action, "GET");
            }
        }

        function handleEquipantes(opt) {
            action = "/Equipante"

            if (SelectedEvent.TipoEvento == "Casais") {
                action = "/Equipante/Casais"
            }
            if ((opt !== undefined && opt != (SelectedEvent.TipoEvento == "Casais") || opt == undefined)) {
                spaLoad(action, "GET");
            }
        }
    </script>
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
    @Html.RenderScripts()

</body>
</html>
