@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Configuracao.Titulo | Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    @if (ViewBag.Configuracao.LogoId != null)
    {

        <link rel="icon" type="image/png" sizes="16x16" href="data:image/png;base64,@ViewBag.Configuracao.Logo" />
    }
    <link href="~/Fonts/font-awesome/css/all.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/evento.css" rel="stylesheet">
    @Styles.Render("~/plugins/sweetalert")
</head>
<body class="background-evento">
    <div class="middle-box text-center loginscreen animated fadeInDown " style="display:flex;flex-direction:column">
        <div class="form-horizontal" id="frm-password">
            @if (ViewBag.Configuracao.LogoId != null)
            {
                <img style="max-width:85% !important;max-height:120px; margin:20px" src="data:image/png;base64,@ViewBag.Configuracao.Logo" alt="Igreja Episcopal Carismática do Brasil" />
            }

        <div class="form-group ">
            @if (ViewBag.Tipo == "Recovery")
            {
                <input type="password" style="margin-bottom:15px" placeholder="senha" class="form-control text-lowercase required" name="password" id="password" data-field="Senha" />
                <input type="password" placeholder="confirmar senha" class="form-control text-lowercase required" name="password" id="confirm-password" data-field="Senha" />
            }
            else
            {

                <input type="email" placeholder="E-mail" class="form-control text-lowercase required" name="email" id="email" data-field="E-mail" />
            }
        </div>


            <div style="margin:15px 0">
                @if (ViewBag.Tipo == "Recovery")
                {
                    <input onclick="ResetPassword()" value="Redefinir senha" class="btn btn-rounded btn-juventude w-150" />
                }
                else
                {

                    <input onclick="ForgotPassword()" value="Recuperar senha" class="btn btn-rounded btn-juventude w-150" />
                }

            </div>
        </div>
    </div>
</body>
</html>

<style>
    .validation-summary-errors {
        color: white;
    }

    .form-group, .link-container, .form-horizontal {
        width: 100%;
    }

    .form-horizontal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 20px
    }



    .swal-icon--success, .swal-icon--warning, .swal-icon--error {
        border-color: white !important;
    }

    .swal-icon--success__line, .swal-icon--warning__body, .swal-icon--warning__dot, .swal-icon--error__line {
        background-color: white !important;
    }


    .swal-icon--success__hide-corners {
        background: transparent !important;
    }

    .swal-icon--success:before {
        background: transparent !important;
    }

    .swal-icon--success:after {
        background: transparent !important;
    }
</style>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/app/Util/extensions.js"></script>
<script src="~/Scripts/app/Util/forms.js"></script>
<script src="~/Scripts/app/Util/messages.js"></script>
@Scripts.Render("~/bundles/sweetalert")
<script>
    function ForgotPassword() {
        if (ValidateForm(`#frm-password`)) {
            $.ajax({
                url: "/Account/ForgotPassword",
                data: JSON.stringify({ email: $('#email').val().toLowerCase() }),
                datatype: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    CustomSwal({
                        title: "Sucesso",
                        text: `Um email foi enviado para ${$('#email').val().toLowerCase()} com as instruções para redefinir sua senha`,
                        icon: "success",
                        button: {
                            text: "Concluir"
                        },
                        className: "button-center",

                    })
                },
                statusCode: {
                    404: function () {
                        CustomSwal({
                            title: "Erro!",
                            text: `Usuário não encontrado`,
                            icon: "error",
                            button: {
                                text: "Concluir"
                            },
                            className: "button-center",

                        })
                    }
                }
            })
        }
    }

    function ResetPassword() {
        if ($('#password').val() && $('#confirm-password').val() && $('#password').val() == $('#confirm-password').val()) {
            $.ajax({
                url: "/Account/ResetPassword",
                data: JSON.stringify({ RecoveryKey: '@ViewBag.RecoveryKey', Password: $('#password').val().toLowerCase() }),
                datatype: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    CustomSwal({
                        title: "Sucesso",
                        text: `Senha redefinida com sucesso, você já pode efetuar seu login`,
                        icon: "success",
                        button: {
                            text: "Concluir"
                        },
                        className: "button-center",

                    })
                },
                statusCode: {
                    404: function () {
                        CustomSwal({
                            title: "Erro!",
                            text: `Usuário não encontrado`,
                            icon: "error",
                            button: {
                                text: "Concluir"
                            },
                            className: "button-center",

                        })
                    }
                }
            })
        } else {
            CustomSwal({
                title: "Erro!",
                text: `As senhas não coincidem`,
                icon: "error",
                button: {
                    text: "Concluir"
                },
                className: "button-center",

            })
        }
    }

    $(document).ready(() => {

        $('body').on('DOMNodeInserted', '.swal-icon--custom', function () {

            $('.swal-icon--custom').replaceWith(`<img style="max-width: 60%;
    max-height: 150px;
    padding: 15px;" src="data:image/png;base64,@ViewBag.Configuracao.Logo">`)

        });
        $('body').on('DOMNodeInserted', '.swal-title', function () {
            $('.swal-modal').css('background', '@ViewBag.Configuracao.CorBotao')
            $('.swal-modal').css('color', 'white')
            $('.swal-title').css('color', 'white')

            $('.swal-modal').css('background', '@ViewBag.Configuracao.CorBotao')
            $('.swal-modal').css('color', 'white')
        });
        $('body').on('DOMNodeInserted', '.swal-content', function () {
            $('.swal-content').css('color', 'white')

        });

        $('body').on('DOMNodeInserted', '.swal-text', function () {
            $('.swal-text').css('color', 'white')

        });

            @if (ViewBag.Configuracao.BackgroundId != null)
            {
                <text> $('.background-evento').css('background', `url(data:image/jpeg;base64,@ViewBag.Configuracao.Background) no-repeat center center fixed`) </text>
                <text> $('.background-evento').css('background-size', 'cover')</text>
            }


        $('.btn-juventude').css('background-color', '@ViewBag.Configuracao.CorBotao')
        $('.btn-juventude').css('border-color', '@ViewBag.Configuracao.CorBotao')

             $('.btn-juventude').hover(function () {
            console.log($(this));
            $(this).css('filter', 'brightness(0.6)')
            $(this).css('filter', 'brightness(0.6)')

        }, function () {
            $(this).css('filter', 'brightness(100%)')
            $(this).css('filter', 'brightness(100%)')
        })

         var corLoginBox = '@ViewBag.Configuracao.CorLoginBox';
        var rgbLoginBox = corLoginBox.convertToRGB()
        $('.loginscreen.middle-box').css('background-color', `rgba(${rgbLoginBox[0]},${rgbLoginBox[1]},${rgbLoginBox[2]},0.7)`)

        if (localStorage.getItem('UserName') && localStorage.getItem('Password') && window.location.pathname != '/Login/Login') {

            $('input[name="UserName"]').val(localStorage.getItem('UserName'))
            $('input[name="Password"]').val(localStorage.getItem('Password'))
            $('form').submit()
        }
    })

    $('input').on('keyup change', function () {
        localStorage.setItem(this.name, $(this).val())
    })
</script>

