@using Utils.Extensions;

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Cadastros</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>@ViewBag.Title</h4>
            <div class="ibox-tools pull-right w-300">
                <div class="row">
                    <div class="col-sm-8">
                        <select class="form-control" id="reuniao-eventoid-consulta" onchange="CarregarTabelaReuniao()">
                            @foreach (var evento in ViewBag.Eventos)
                            {
                                <option value="@evento.Id" data-role="@evento.Role">@evento.TipoEvento @evento.Numeracao.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-default" id="btn_Adicionar" onclick="EditReuniao(0)">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-reunioes" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Data da Reunião</th>
                        <th>Presente</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-reunioes" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs" id="form-reuniao">
                    <div class="row p-h-xs">
                        <input type="hidden" id="reuniao-id" />
                        <div class="col-sm-6 p-w-md text-center">
                            <h5>Data</h5>

                            <input type="text" class="form-control full-date-time required" id="reuniao-data" data-field="Data da Reunião" />
                        </div>
                        <div class="col-sm-6 p-w-md text-center">
                            <h5>Título</h5>

                            <input type="text" class="form-control required" id="reuniao-titulo" data-field="Título da Reunião" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-white pull-right" onclick="PostReuniao()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-presenca" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <table id="table-ata-presenca" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Equipe</th>
                            <th>Presença</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    
    <style>
     
    </style>
}

@section Scripts {
    
    <script src="~/Scripts/app/Reuniao/reuniao.js"></script>

    <script>

    </script>
}
