@{
    ViewBag.Numero = new Random().Next();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>@ViewBag.Title</h4>
            <div class="ibox-tools pull-right" style="width:250px">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <select class="form-control" id="equipe-eventoid" onchange=" CarregarTabelaEquipe()">
                            @foreach (var evento in ViewBag.Eventos)
                            {
                                <option value="@evento.Id">@evento.TipoEvento @evento.Titulo</option>
                            }
                        </select>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <button class="btn btn-default" id="btn_Adicionar" onclick="PrintAll()">Imprimir Tudo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-equipe" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th>Equipe</th>
                        <th>Membros</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>Arquivos Comuns</h4>
            <div class="ibox-tools pull-right">
                <form enctype="multipart/form-data" id="frm-upload-arquivos" method="post" novalidate="novalidate">
                    <label for="arquivo" style="width: 100%;" class="inputFile">
                        <span class="btn btn-default inputFile" style="width: 100%;" aria-hidden="true">Adicionar</span>
                        <input style="display: none;" class="custom-file-input inputFile" id="arquivo" name="arquivo" type="file" value="">
                    </label>
                </form>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-arquivos-comuns" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th>Arquivo</th>
                        <th>Extensão</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-membros-equipe" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h5 class="modal-title titulo-equipe"></h5>
            </div>
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">
                    <div class="row p-h-xs">
                        <input type="hidden" id="equipe-id" />
                        <div class="col-sm-12 p-w-md m-b-sm">
                            <h5>Adicionar Membro</h5>
                            <select class="form-control chosen-select" id="equipe-equipantes" onchange="AddMembroEquipe()"></select>
                        </div>
                        <div class="col-sm-12 p-md">
                            <table id="table-membros-equipe" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Idade</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="modal-anexos" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">

                    <div class="row p-md">
                        <form enctype="multipart/form-data" id="frm-upload-arquivo-normal-modal" method="post" novalidate="novalidate">
                            <input type="hidden" name="Equipe" id="Equipe" />
                            <label for="arquivo-modal" style="width: 100%;" class="inputFile">
                                <span class="btn btn-default inputFile" style="width: 100%;" aria-hidden="true">Adicionar</span>
                                <input style="display: none;" class="custom-file-input inputFile" id="arquivo-modal" name="arquivo-modal" type="file" value="">
                            </label>
                        </form>
                        <table id="table-anexos" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Arquivo</th>
                                    <th>Extensão</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/app/Util/pdf.js"></script>
    <script src="~/Scripts/app/Relatorio/relatorio.js?@ViewBag.Numero"></script>
    <script src="~/Scripts/app/Equipe/equipe.js?@ViewBag.Numero"></script>
    <script src="~/Scripts/app/Arquivo/arquivo.js"></script>

    <script>

    </script>
}
