@{
    ViewBag.Numero = new Random().Next();
}
@using System.Collections.Generic;
@using System.Linq;
@using Utils.Enums;
@using Utils.Extensions;

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>Filtros</h4>
            <div class="ibox-tools pull-right">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-lg-2">
                    <h5>Evento</h5>
                    <select class="form-control" id="participante-eventoid" onchange="CarregarTabelaParticipante()">
                        @foreach (var evento in ViewBag.Eventos)
                        {
                            <option data-status="@evento.Status" value="@evento.Id" data-role="@evento.Role">@evento.TipoEvento @evento.Numeracao.ToString()</option>
                        }
                    </select>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <h5>Status</h5>
                    <select class="form-control" id="participante-status" multiple onchange="CarregarTabelaParticipante()">

                        <option value=8>Inscrito</option>
                        <option value=9>Confirmado</option>
                        <option value=12>Presente</option>
                        <option value=10>Em espera</option>
                        <option value=6>Cancelado</option>

                    </select>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <h5>Padrinho</h5>
                    <select class="form-control" id="participante-padrinhoid" multiple onchange="CarregarTabelaParticipante()">
                    </select>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <h5 class="title-circulo">Círculo</h5>
                    <select class="form-control" id="participante-circuloid" multiple onchange="CarregarTabelaParticipante()">
                    </select>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <h5>Quarto</h5>
                    <select class="form-control" id="participante-quartoid" multiple onchange="CarregarTabelaParticipante()">
                    </select>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <h5>Tem Marcador</h5>
                    <select class="form-control" id="participante-marcadores" multiple onchange="CarregarTabelaParticipante()">
                    </select>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <h5>Não tem Marcador</h5>
                    <select class="form-control" id="participante-nao-marcadores" multiple onchange="CarregarTabelaParticipante()">
                    </select>
                </div>

            </div>
            <div class="row">


            </div>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>@ViewBag.Title</h4>
            <div style=" width: 70%;" class="ibox-tools pull-right">
                <button class="btn btn-default" id="btn_Imprimir" onclick="openModalCracha()">Credencial</button>
                <button class="btn btn-default" style="display:none" id="btn_bulk" onclick="openBulkActions()">Editar</button>
                <button class="btn btn-default" id="btn_Adicionar" onclick="EditParticipante(0)">Adicionar</button>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-participante" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th><div class="checkbox i-checks-green"><label> <input type="checkbox" id="select-all" data-id="all"> <i></i></label></div></th>
                        <th></th>
                        <th></th>
                        <th>Nome</th>
                        <th>Apelido</th>
                        <th></th>
                        <th>Nome da Mãe</th>
                        <th>Fone da Mãe</th>
                        <th>Nome do Pai</th>
                        <th>Fone do Pai</th>
                        <th>Nome do Contato</th>
                        <th>Fone do Contato</th>
                        <th>Nome do Convite</th>
                        <th>Fone do Convite</th>
                        <th>Idade</th>
                        <th>Padrinho</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Data Inscrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal inmodal" id="modal-fotos" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">

                    <div class="row p-md">
                        <div class="col-lg-12" id="fotocontent">

                            <div id="main-cropper"></div>

                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right m-l-sm" onclick="ConfirmFoto()">Confirmar</button>
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-anexos" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">

                    <div class="row p-md">
                        <select class="form-control m-b-sm" id="equipante-eventoid">
                            @foreach (var evento in ViewBag.Eventos)
                            {
                                <option value="@evento.Id" data-role="@evento.Role">@evento.TipoEvento @evento.Numeracao.ToString()</option>
                            }
                        </select>
                        <form enctype="multipart/form-data" id="frm-upload-arquivo-modal" method="post" novalidate="novalidate">
                            <input type="hidden" name="ParticipanteIdModal" id="ParticipanteIdModal" />
                            <input type="hidden" name="LancamentoIdModal" id="LancamentoIdModal" />
                            <label for="arquivo-modal" style="width: 100%;" class="inputFile">
                                <span class="btn btn-default inputFile" style="width: 100%;" aria-hidden="true">Adicionar</span>
                                <input style="display: none;" class="custom-file-input inputFile" id="arquivo-modal" name="arquivo-modal" type="file" value="">
                            </label>
                        </form>
                        <table id="table-anexos" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Arquivo</th>
                                    <th>Extensão</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-opcoes" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal" style="position:relative;background-color:white;padding:20px">
                    <button type="button" class="btn btn-primary" id="btn-previous" onclick="previous()" style="position:absolute;top:20px;left:20px">Anterior</button>
                    <h2 class="text-center realista-nome" style="width:100%;margin:0">Nome</h2>
                    <button type="button" class="btn btn-primary" id="btn-next" onclick="next()" style="position:absolute;top:20px;right:20px">Próximo</button>
                </div>
                <div class="moldura-modal p-h-xs" id="form-opcoes">
                    <h3 class="text-center">Mensagem</h3>
                    <div class="row m-md">
                        <div class="col-lg-12">
                            <select class="form-control" id="msg-list">
                            </select>
                        </div>
                    </div>

                    <h3 class="text-center">Destinatário</h3>
                    <div class="row m-md">
                        <div class="col-lg-3 col-sm-6 panel-msg p-w-md text-center pointer contato-mae mae" onclick="select2('mae')">
                            <div style="margin:auto">
                                <i style='color: #e232dd' class="fa fa-user  fa-3x m-t-sm"></i>
                                <h4 class="text-center m-t-sm">Mãe</h4>
                                <h5 class="text-center maetext"></h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 panel-msg p-w-md text-center pointer contato-pai pai" onclick="select2('pai')">
                            <div style="margin:auto">
                                <i style='color: #3289e2' class="fa fa-user  fa-3x m-t-sm"></i>
                                <h4 class="text-center m-t-sm">Pai</h4>
                                <h5 class="text-center paitext"></h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 panel-msg p-w-md text-center pointer contato-convite convite" onclick="select2('convite')">
                            <div style="margin:auto">
                                <i style='color: #d46415' class="fa fa-user fa-3x m-t-sm"></i>
                                <h4 class="text-center m-t-sm">Indicação</h4>
                                <h5 class="text-center convitetext"></h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 panel-msg p-w-md text-center pointer contato-contato contato" onclick="select2('contato')">
                            <div style="margin:auto">
                                <i style='color: #d46415' class="fa fa-user fa-3x m-t-sm"></i>
                                <h4 class="text-center m-t-sm">Contato</h4>
                                <h5 class="text-center contatotext"></h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 panel-msg p-w-md text-center pointer realista" onclick="select2('realista')">
                            <div style="margin:auto">
                                <i class="fa fa-user fa-3x m-t-sm"></i>
                                <h4 class="text-center m-t-sm">Participante</h4>
                                <h5 class="text-center realistatext"></h5>
                            </div>
                        </div>
                    </div>

                    <h3 class="text-center">Marcadores</h3>
                    <div class="row m-md">
                        <select class="form-control participante-etiquetas" id="participante-etiquetas" multiple="multiple" style="width: 100%">
                        </select>
                    </div>


                    <h3 class="text-center">Observações</h3>
                    <div class="row m-md">
                        <textarea style="height: 200px" class="form-control required" id="participante-obs"></textarea>
                    </div>


                    <div style="display:flex; width:100%">

                        <button type="button" class="btn btn-primary" style="margin-left:auto;margin-right:10px" onclick="enviar()">Enviar</button>
                        <a target="_blank" href="#" class="btn btn-info btn-ligar" style="margin-right:auto">Ligar</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-participantes" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <button style="margin:10px" type="button" class="btn btn-white pull-right" onclick="printFicha()">Imprimir</button>
                <div class="moldura-modal p-h-xs" id="form-participante">
                    <div class="row p-h-xs campos-cadastro">

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-white pull-right" onclick="PostParticipante()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="modal-pagamentos" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs" id="form-pagamentos">
                    <div class="row p-h-xs">
                        <input type="hidden" id="pagamentos-participanteid" />
                        <input type="hidden" id="pagamentos-whatsapp" />
                        <div class="col-sm-6 p-w-md text-center">
                            <h5>Forma de Pagamento</h5>

                            <select class="form-control" id="pagamentos-meiopagamento" onchange="CarregarValorTaxa()">
                            </select>

                        </div>

                        <div class="col-sm-6 p-w-md text-center">
                            <h5>Valor</h5>

                            <input type="number" step="any" value="0" class="form-control required" data-valor-realista="@ViewBag.Valor" id="pagamentos-valor" data-field="Valor" />
                        </div>
                        <div class="col-sm-6 p-w-md m-t-md text-center">
                            <h5>Origem</h5>

                            <input type="text" class="form-control " id="pagamentos-origem" data-field="Origem" />
                        </div>
                        <div class="col-sm-6 p-w-md m-t-md text-center">
                            <h5>Data</h5>

                            <input type="text" class="form-control full-date required" id="pagamentos-data" data-field="Data do Pagamento" />
                        </div>


                        <div class="col-sm-12 p-md text-center">
                            <button type="button" class="btn btn-white" onclick="PostPagamento()">Salvar</button>
                        </div>
                        <div class="col-sm-12 p-md">
                            <table id="table-pagamentos" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Forma de Pagamento</th>
                                        <th>Valor</th>
                                        <th>Data</th>
                                        <th>Origem</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="modal-actions" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">

                    <div class="row p-md">
                        <div class="col-sm-12 p-w-md text-center quarto-m">
                            <h5>Quarto Masculino</h5>
                            <select class="form-control quarto-normal" id="bulk-quarto-m" onchange="$('#bulk-quarto-misto').val(999)">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center quarto-f">
                            <h5>Quarto Feminino</h5>
                            <select class="form-control quarto-normal" id="bulk-quarto-f" onchange="$('#bulk-quarto-misto').val(999)">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center quarto-misto">
                            <h5>Quarto Misto</h5>
                            <select class="form-control" id="bulk-quarto-misto" onchange="$('.quarto-normal').val(999)">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center">
                            <h5>Padrinho</h5>
                            <select class="form-control" id="bulk-padrinho">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center">
                            <h5 class="title-circulo">Círculo</h5>
                            <select class="form-control" id="bulk-circulo">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center carona">
                            <h5>Carona</h5>
                            <select class="form-control" id="bulk-carona">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center">
                            <h5>Adicionar Etiqueta</h5>
                            <select class="form-control" id="bulk-add-etiqueta">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center">
                            <h5>Remover Etiqueta</h5>
                            <select class="form-control" id="bulk-remove-etiqueta">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center not-evento-bulk">
                            <h5>Mensagem Participante</h5>
                            <div style="width:100%;display:flex">

                                <select class="form-control" id="bulk-mensagem">
                                </select>
                                <button type="button" class="btn btn-success m-l-sm" onclick="enviarMensagens('realista')" data-dismiss="modal">Enviar</button>
                            </div>
                        </div>

                        <div class="col-sm-12 p-w-md text-center not-evento-bulk">
                            <h5>Mensagem Mãe</h5>
                            <div style="width:100%;display:flex">

                                <select class="form-control bulk-mensagem-contato" id="bulk-mensagem-mae">
                                </select>
                                <button type="button" class="btn btn-success m-l-sm" onclick="enviarMensagens('mae')" data-dismiss="modal">Enviar</button>
                            </div>
                        </div>

                        <div class="col-sm-12 p-w-md text-center not-evento-bulk">
                            <h5>Mensagem Pai</h5>
                            <div style="width:100%;display:flex">

                                <select class="form-control bulk-mensagem-contato" id="bulk-mensagem-pai">
                                </select>
                                <button type="button" class="btn btn-success m-l-sm" onclick="enviarMensagens('pai')" data-dismiss="modal">Enviar</button>
                            </div>
                        </div>

                        <div class="col-sm-12 p-w-md text-center not-evento-bulk">
                            <h5>Mensagem Contato</h5>
                            <div style="width:100%;display:flex">

                                <select class="form-control bulk-mensagem-contato" id="bulk-mensagem-contato">
                                </select>
                                <button type="button" class="btn btn-success m-l-sm" onclick="enviarMensagens('contato')" data-dismiss="modal">Enviar</button>
                            </div>
                        </div>

                        <div class="col-sm-12 p-w-md text-center not-evento-bulk">
                            <h5>Mensagem Indicação</h5>
                            <div style="width:100%;display:flex">

                                <select class="form-control bulk-mensagem-contato" id="bulk-mensagem-convite">
                                </select>
                                <button type="button" class="btn btn-success m-l-sm" onclick="enviarMensagens('convite')" data-dismiss="modal">Enviar</button>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success m-l-sm" onclick="enviarMensagens()" data-dismiss="modal">Enviar</button>
                    <button type="button" class="btn btn-primary m-l-sm" onclick="applyBulk()" data-dismiss="modal">Aplicar</button>
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Cracha/ModalImpressao.cshtml")



@section Styles {


}

@section Scripts {

    <script src="~/Scripts/app/Participante/participante.js?@ViewBag.Numero"></script>
    <script src="~/Scripts/app/Cracha/print.js?@ViewBag.Numero"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

    </script>
}
