@model SysIgreja.ViewModels.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Configuracao.Titulo | Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    @if (ViewBag.Configuracao.LogoId != null)
    {

        <link rel="icon" type="image/png" sizes="16x16" href="data:image/png;base64,@ViewBag.Configuracao.Logo" />
    }
    <link href="~/Fonts/font-awesome/css/all.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/evento.css" rel="stylesheet">
</head>
<body class="background-evento">
    <div class="middle-box text-center loginscreen animated fadeInDown " style="display:flex;flex-direction:column">
        <div style="margin:auto">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                if (ViewBag.Configuracao.LogoId != null)
                {
                    <img style="max-width:85% !important;max-height:120px; margin:20px" src="data:image/png;base64,@ViewBag.Configuracao.Logo" alt="Igreja Episcopal Carismática do Brasil" />
                }
                @Html.ValidationSummary(true)

                <div class="form-group ">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control text-lowercase", placeholder = "Login" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control text-lowercase", placeholder = "Senha" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="link-container">

                    <a style="color:@ViewBag.Configuracao.CorBotao;text-decoration:underline;text-align:left" href="/Account/RecuperarSenha">Esqueci a senha</a>
                </div>
                <div style="margin:15px 0">
                    <input type="submit" value="Entrar" class="btn btn-rounded btn-juventude w-150" />
                    <a href="@Url.Action("Index","Inscricoes")" class="btn m-l-sm w-150 btn-rounded btn-juventude">Inscrições</a>
                </div>
            }
        </div>
    </div>
</body>
</html>

<style>
    .validation-summary-errors {
        color: white;
    }

    .form-group, .link-container {
        width: 100%;
    }

    .form-horizontal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 20px
    }
</style>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/app/Util/extensions.js"></script>
<script src="~/Scripts/app/Util/forms.js"></script>
<script>
    $(document).ready(() => {


            @if (ViewBag.Configuracao.BackgroundId != null)
            {
                <text> $('.background-evento').css('background', `url(data:image/jpeg;base64,@ViewBag.Configuracao.Background) no-repeat center center fixed`) </text>
                <text> $('.background-evento').css('background-size', 'cover')</text>
            }


        $('.btn-juventude').css('background-color', '@ViewBag.Configuracao.CorBotao')
        $('.btn-juventude').css('border-color', '@ViewBag.Configuracao.CorBotao')

        $('.btn-juventude').hover(function() {
            $(this).css('background-color', '@ViewBag.Configuracao.CorHoverBotao')
            $(this).css('border-color', '@ViewBag.Configuracao.CorHoverBotao')
        }, function() {
            $(this).css('background-color', '@ViewBag.Configuracao.CorBotao')
            $(this).css('border-color', '@ViewBag.Configuracao.CorBotao')
        })

         var corLoginBox = '@ViewBag.Configuracao.CorLoginBox';
        var rgbLoginBox = corLoginBox.convertToRGB()
        $('.loginscreen.middle-box').css('background-color', `rgba(${rgbLoginBox[0]},${rgbLoginBox[1]},${rgbLoginBox[2]},0.7)`)

        if (localStorage.getItem('UserName') && localStorage.getItem('Password') && window.location.pathname != '/Login/Login') {

            $('input[name="UserName"]').val(localStorage.getItem('UserName'))
            $('input[name="Password"]').val(localStorage.getItem('Password'))
            $('form').submit()
        }
    })

    $('input').on('keyup change', function () {
        localStorage.setItem(this.name, $(this).val())
    })
</script>

