<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Cadastros</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox" id="inserir-membro">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>Pesquisar</h4>
            <div class="ibox-tools pull-right">
                <button class="btn btn-primary not-convite" id="btn_addEquipe" onclick="AddMembroEquipe()">Incluir no Evento</button>
                <button class="btn btn-default" id="btn_Adicionar" onclick="EditEquipante(0)">Novo Voluntário</button>

            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <h5>Evento</h5>
                    <div style="display: flex">
                        @Html.Partial("~/Views/Componentes/SelectEvento.cshtml", new SysIgreja.ViewModels.SelectViewModel { Id = "eventoid", OnChange = "loadMontagem", Roles = "Financeiro,Administrativo,Admin,Convites" })
                    </div>
                </div>

                <div class="col-xs-12 col-lg-6 not-convite">
                    <h5>Voluntário</h5>
                    <div style=" display: flex; align-items: center; gap: 5px;">
                        <select class="form-control " id="listagem"></select>
                        <i class="fas fa-history" id="getHistButton" style="width:15px;cursor:pointer" onclick="GetHistorico($('#listagem').val())"></i>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-3 not-convite">
                    <h5>Equipe</h5>
                    <select class="form-control" id="equipe-select-montagem"></select>
                </div>

            </div>
        </div>

    </div>
    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>Filtros</h4>
            <div class="ibox-tools pull-right">
                <button class="btn btn-primary" id="btn_Filtrar" onclick="CarregarTabelaEquipante()">Filtrar</button>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-lg-2">
                    <h5>Evento</h5>
                    <div style="display:flex">

                        @Html.Partial("~/Views/Componentes/SelectEvento.cshtml", new SysIgreja.ViewModels.SelectViewModel { Id = "equipante-eventoid-filtro", OnChange = "loadEquipes", Roles = "Financeiro,Administrativo,Admin,Padrinho" })
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2 hide-tipoevento">
                    <h5>Status</h5>
                    <select class="form-control" id="equipante-status" multiple onchange="CarregarTabelaEquipante()">
                        <option value="pendente">Pendente</option>
                        <option value="pago">Pago</option>
                    </select>
                </div>
                <div class="col-xs-12 col-lg-2 hide-tipoevento">
                    <h5>Equipe</h5>
                    <select class="form-control" id="equipe-select" multiple onchange="CarregarTabelaEquipante()">
                        <option value=999>Selecione</option>
                    </select>
                </div>
                <div class="col-xs-12 col-lg-2 hide-tipoevento">
                    <h5>Tem Marcador</h5>
                    <select class="form-control" id="equipante-marcadores" multiple onchange="CarregarTabelaEquipante()">
                    </select>
                </div>
                <div class="col-xs-12 col-lg-2 hide-tipoevento">
                    <h5>Não tem Marcador</h5>
                    <select class="form-control" id="equipante-nao-marcadores" multiple onchange="CarregarTabelaEquipante()">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-2">
                    <h5>Nome</h5>
                    <input class="form-control search-data" id="equipante-nome-filtro" data-column="3" />

                </div>
                <div class="col-xs-12 col-lg-2">
                    <h5>Congregação</h5>
                    <input class="form-control search-data" id="equipante-congregacao-filtro" data-column="7" />

                </div>
                <div class="col-xs-12 col-lg-2">
                    <h5>Quarto</h5>
                    <div style="display:flex">
                        <select class="form-control" id="equipante-quartoid" multiple onchange="CarregarTabelaEquipante()">
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <h5>Checkin</h5>
                    <div style="display:flex">
                        <select class="form-control" id="equipante-checkin" onchange="CarregarTabelaEquipante()">
                            <option value="null">Todos</option>
                            <option value="sim">Realizado</option>
                            <option value="nao">Não realizado</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>@ViewBag.Title</h4>
            <div class="ibox-tools pull-right">
                <button class="btn btn-default hide-tipoevento" id="btn_Imprimir" onclick="openModalCracha()">Credencial</button>
                <div><button class="btn btn-default" id="btn_bulk" disabled onclick="openBulkActions()">Ações em massa</button></div>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-equipantes" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                <thead>

                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-equipantes" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs" id="form-equipante">
                    <div class="row p-h-xs campos-cadastro">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-white pull-right" onclick="PostEquipante()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="modal-fotos" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">

                    <div class="row p-md">
                        <div class="col-lg-12" id="fotocontent">

                            <div id="main-cropper"></div>

                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right m-l-sm" onclick="ConfirmFoto()">Confirmar</button>
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-anexos" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">

                    <div class="row p-md">
                        @Html.Partial("~/Views/Componentes/SelectEvento.cshtml", new SysIgreja.ViewModels.SelectViewModel { Id = "equipante-eventoid", OnChange = "LoadArquivosEquipante", Roles = "Financeiro,Administrativo,Admin,Padrinho" })
                        <form enctype="multipart/form-data" id="frm-upload-arquivo-modal" method="post" novalidate="novalidate">
                            <input type="hidden" name="EquipanteIdModal" id="EquipanteIdModal" />
                            <input type="hidden" name="EventoIdModal" id="EventoIdModal" />
                            <input type="hidden" name="LancamentoIdModal" id="LancamentoIdModal" />
                            <label for="arquivo-modal" style="width: 100%;" class="inputFile">
                                <span class="btn btn-default inputFile" style="width: 100%;" aria-hidden="true">Adicionar</span>
                                <input style="display: none;" class="custom-file-input inputFile" id="arquivo-modal" name="arquivo-modal" type="file" value="">
                            </label>
                        </form>
                        <table id="table-anexos" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Arquivo</th>
                                    <th>Extensão</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="modal-opcoes" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal" style="position:relative;background-color:white;padding:20px">
                    <button type="button" class="btn btn-primary" id="btn-previous" onclick="previous()" style="position:absolute;top:20px;left:20px">Anterior</button>
                    <h2 class="text-center realista-nome" style="width:100%;margin:0">Nome</h2>
                    <button type="button" class="btn btn-primary" id="btn-next" onclick="next()" style="position:absolute;top:20px;right:20px">Próximo</button>
                </div>
                <div class="moldura-modal p-h-xs" id="form-opcoes">
                    <div class="row m-md">
                        <h3 class="text-center">Mensagem</h3>
                        <select class="form-control m-b-lg" id="msg-list">
                        </select>

                        <h3 class="text-center">Marcadores</h3>
                        <select class="form-control equipante-etiquetas" id="equipante-etiquetas" multiple="multiple" style="width: 100%">
                        </select>
                    </div>

                    <h3 class="text-center">Observações</h3>
                    <div class="row m-md">
                        <textarea style="height: 200px" class="form-control required" id="equipante-obs"></textarea>
                    </div>


                    <div style="display:flex; width:100%">

                        <button type="button" class="btn btn-primary" style="margin-left:auto;margin-right:10px" onclick="enviar()">Enviar</button>
                        <a target="_blank" href="#" class="btn btn-info btn-ligar" style="margin-right:auto">Ligar</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-pagamentos" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs" id="form-pagamentos">
                    <div class="row p-h-xs">
                        <input type="hidden" id="pagamentos-equipanteid" />
                        <input type="hidden" id="pagamentos-whatsapp" />
                        <div class="col-sm-6 p-w-md text-center">
                            <h5>Forma de Pagamento</h5>

                            <select class="form-control" id="pagamentos-meiopagamento">
                            </select>

                        </div>

                        <div class="col-sm-6 p-w-md text-center">
                            <h5>Valor</h5>

                            <input type="number" step="any" value="0" class="form-control required" data-valor-equipante="@ViewBag.Valor" id="pagamentos-valor" data-field="Valor" />
                        </div>
                        <div class="col-sm-6 p-w-md m-t-md text-center">
                            <h5>Origem</h5>

                            <input type="text" class="form-control " id="pagamentos-origem" data-field="Origem" />
                        </div>
                        <div class="col-sm-6 p-w-md m-t-md text-center">
                            <h5>Data</h5>

                            <input type="text" class="form-control full-date required" id="pagamentos-data" data-field="Data do Pagamento" />
                        </div>
                        <div class="col-sm-12 p-md text-center">
                            <button type="button" class="btn btn-white" onclick="PostPagamento()">Salvar</button>
                        </div>
                        <div class="col-sm-12 p-md">
                            <table id="table-pagamentos" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Forma de Pagamento</th>
                                        <th>Valor</th>
                                        <th>Data</th>
                                        <th>Origem</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-historico" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs" id="form-historico">
                    <div class="row p-h-xs">
                        <div class="col-sm-12 p-md">
                            <h4>Equipes em que serviu</h4>
                            <table id="table-historico" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Evento</th>
                                        <th>Equipe</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <h4>Eventos que participou</h4>
                            <table id="table-historico-participacao" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Evento</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Cracha/ModalImpressao.cshtml")


<div class="modal inmodal" id="modal-actions" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">

                    <div class="row p-md">

                        <div class="col-sm-12 p-w-md text-center evento-bulk" style="display:none">
                            <h5>Evento</h5>
                            @Html.Partial("~/Views/Componentes/SelectEvento.cshtml", new SysIgreja.ViewModels.SelectViewModel { Id = "equipante-eventoid-bulk", OnChange = "loadEquipesBulk", Roles = "Financeiro,Administrativo,Admin,Padrinho" })
                        </div>

                        <div class="col-sm-12 p-w-md text-center">
                            <h5>Checkin</h5>
                            <select class="form-control" id="bulk-checkin">
                                <option value="999">Selecione</option>
                                <option value="true">Marcar Presença</option>
                                <option value="false">Desmarcar Presença</option>
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center quarto-m not-evento-bulk">
                            <h5>Quarto Masculino</h5>
                            <select class="form-control quarto-normal" id="bulk-quarto-m" onchange="$('#bulk-quarto-misto').val(999)">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center quarto-f not-evento-bulk">
                            <h5>Quarto Feminino</h5>
                            <select class="form-control quarto-normal" id="bulk-quarto-f" onchange="$('#bulk-quarto-misto').val(999)">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center quarto-misto not-evento-bulk">
                            <h5>Quarto Misto</h5>
                            <select class="form-control" id="bulk-quarto-misto" onchange="$('.quarto-normal').val(999)">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center">
                            <h5>Equipe</h5>
                            <select class="form-control" id="bulk-equipe">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center not-evento-bulk">
                            <h5>Adicionar Etiqueta</h5>
                            <select class="form-control" id="bulk-add-etiqueta">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center not-evento-bulk">
                            <h5>Remover Etiqueta</h5>
                            <select class="form-control" id="bulk-remove-etiqueta">
                            </select>
                        </div>

                        <div class="col-sm-12 p-w-md text-center not-evento-bulk">
                            <h5>Mensagem</h5>
                            <select class="form-control" id="bulk-mensagem">
                            </select>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success m-l-sm" onclick="loadMensagens()" data-dismiss="modal">Enviar</button>
                    <button type="button" class="btn btn-primary m-l-sm" onclick="applyBulk()" data-dismiss="modal">Aplicar</button>
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <style>
        .d-none {
            display: none;
        }
    </style>
}

@section Scripts {
    <script type="text/babel" src="~/Scripts/app/Componentes/ProfileCard.jsx"></script>
    <script src="~/Scripts/app/Equipante/equipante.js"></script>
    <script src="~/Scripts/app/Cracha/print.js"></script>
    <script>

    </script>
}
